$green: #6CAC3D;
$black: #171616;
$blue: #2D4872;
$light-blue: #325fa7;
$white: #ffff;
$gray: #595959;
$silver: #CCCCCC;
$dark-white: #F2F2F2;
$light-silver: #D6D6D6;
$car-silver: #D1D1D1;
$red: #ff0000;
$trans-black: rgba(0, 0, 0, 0.7);

$gradient-white: linear-gradient(89.58deg, #FFFFFF 19%, rgba(255, 255, 255, 0) 99.61%);