$green: #6CAC3D;
$black: #171616;
$blue: #2D4872;
$light-blue: #325fa7;
$dark-blue: #2E3648;
$white: #ffff;
$gray: #595959;
$silver: #CCCCCC;
$dark-white: #F2F2F2;
$light-silver: #D6D6D6;
$car-silver: #D1D1D1;
$red: #ff0000;
$trans-black: rgba(0, 0, 0, 0.7);
$trans-black2: rgba(0, 0, 0, 0.25);
$trans-black3: rgba(0, 0, 0, 0.9);
$alfa-blue: #E3EAEF;
$seal-silver: #E6E6E6;
$bg-silver: #F8F8F8;
$dark-silver: #a8a8a8;

$gradient-white: linear-gradient(89.58deg, #FFFFFF 19%, rgba(255, 255, 255, 0) 72%);
$gradient-white2: linear-gradient(0deg, #FFFFFF 15%, rgba(255, 255, 255, 0) 83%);