@use './normalize.scss' as *;
@use './fonts.scss' as *;
@use './variables.scss' as var;
@use './templates.scss' as *;
@use './mixins.scss' as mix;

.text1 {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.text2 {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.text3 {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.text4 {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.text5 {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.text6 {
  font-family: 'Roboto';
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

.text7 {
  font-family: 'Roboto';
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
}

.text8 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
}

.text9 {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.text10 {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.text11 {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.navbar {

  &__top, &__bottom, &__middle {
    @include mix.flex(wrap, 15px 48.5px);
    @extend %ali-cen;
    @extend %jus-bet;
    @extend %rel;
    padding: 20px 0px 21px 0px;

    &::after {
      content: '';
      @extend %abs;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1.5px;
      background: var.$green;
    }
  }

  &__bottom {
    padding: 0px;
    gap: 0px 30px;
  }

  @at-root
  .company-logo {
    @include mix.flex-col(10px);
    width: 124px;

    &__icon {
      @extend %shrink0;
      max-width: 100%;
      height: auto;
    }
  }

  &__company-logo {
    @extend %rel;
    top: 1px;
    left: 1px;
  }

  @at-root
  .nav-links {
    @include mix.flex(wrap, 7px 24.6px);
    max-width: 593.5px;

    &__link {
      padding: 5px 0;
      color: var.$black;
    }
  }

  &__nav-links {
    margin: 5px 0 0 0;
  }

  @at-root
  .tel-block {
    @include mix.flex(wrap, 24.5px);
    @extend %ali-cen;

    &__main {
      @include mix.flex-col(4px);
      margin: 4px 0 0 0;
      max-width: 190.5px;
    }

    &__link {
      @include mix.flex(nowrap, 4px);
      @extend %ali-cen;
      color: var.$black;

      &::before {
        content: '';
        @extend %will;
        @extend %shrink0;
        background: url(../images/icons/call.svg) 0 0 / contain no-repeat;
        width: 17px;
        height: 17px;
        margin: 1px 0 0 0;
      }

      &:hover::before, &:focus::before {
        animation: phone-move 0.4s;
      } 

      @keyframes phone-move {
        0%{transform: rotate(0deg);}
        25%{transform: rotate(30deg);}
        50%{transform: rotate(0deg);}
        75%{transform: rotate(30deg);}
        100%{transform: rotate(0deg);}
      }
    }

    &__info {
      color: var.$black;
    }

    &__buttons {
      @include mix.flex-col(8px);
    }

    &__button-outline {
      width: 172px;
    }
  }

  &__tel-block {
    margin: 0 0 0 -2px;
  }

  @at-root
  .button-outline {
    @extend %flex-cen;
    border: 1px solid var.$green;
    border-radius: 4px;
    color: var.$green;
    padding: 12.5px 15px;
  }

  @at-root
  .drop-list {
    @include mix.flex(wrap, 0px);
    max-width: 1000px;

    &__item {
      @include mix.flex(nowrap, 0px);
      @extend %rel;
    }

    &__button {
      @extend %flex-cen;
      @extend %rel;
      z-index: 2;
      gap: 5px;
      width: 200px;
      padding: 24px 10px 25px 10px;

      &.active {
        background: var.$green;
        color: var.$white;

        .drop-list__icon {
          stroke: var.$white;
          transform: rotate(180deg);
        }
      }
    }

    &__icon {
      @extend %shrink0;
      fill: none;
      stroke: var.$black;
      stroke-width: 2px;
      width: 14px;
      height: 8px;
      margin: 0 3px 0 0;
    }

    &__content {
      @include mix.flex-col(7px);
      @extend %will;
      @extend %abs;
      @extend %vis0;
      @extend %opa0;
      width: 100%;
      background: var.$white;
      top: 100%;
      left: 0;
      box-shadow: 0px 3px 10px var.$silver;
      padding: 25px 15px;
      z-index: 1;
      transition: all 0.1s;
      transform: translateY(-20px);

      .drop-list__item {
        @extend %w-100;
      }

      &.active {
        @extend %vis1;
        @extend %opa1;
        transition: all 0.3s;
        transform: translateY(0px);
      }
    }

    &__link {
      @extend %w-100;
      color: var.$black;
      padding: 13px 12px 11px 12px;
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }

  @at-root
  .lang-btn {
    @include mix.flex(nowrap, 0px);
    border: 1px solid var.$green;
    border-radius: 4px;

    &__variant {
      @extend %rel;
      padding: 8px 15.5px 7px 15.5px;
      color: var.$green;

      &:not(:last-child)::after {
        content: '';
        @extend %d-block;
        @extend %abs;
        @extend %py-cen;
        transition: all 0.1s;
        right: -2px;
        width: 2px;
        height: 25px;
        background: var.$green;
        z-index: 1;
      }

      &.active {
        color: var.$black;
        pointer-events: none;
      }
    }
  }

  &__lang-btn {
    margin: 10px 1px 10px 0;
  }

  &--tablet, &--mobile {
    display: none;
  }
}

.nav-socials {
  @include mix.flex(wrap, 5px 17px);
  @extend %ali-cen;

  &__icon {
    width: 26px;
    height: 26px;
  }
}

.nav-sidebar {
  @include mix.flex-col(31px);
  @extend %abs;
  height: 100vh;
  width: 325px;
  padding: 23px 20px;
  top: 0;
  right: 0;
  background: var.$white;
  overflow: auto;
  display: none;

  &__buttons {
    @include mix.flex-col(11px);
    @extend %ali-start;
  }

  &__button {
    @extend %w-100;
  }
}

.marked-text {
  padding: 0px 10px;
  background: var.$green;
  border-radius: 10px;
  color: var.$white;
  font-size: 58px;
  box-decoration-break: clone;
  line-height: 130%;
}

.benefits {
  @include mix.flex(wrap, 24.5px 42px);

  @at-root
  .benefit {
    @include mix.flex-col(10px);
    width: 185px;

    &__icon {
      width: 60px;
      height: 60px;
    }

    &__text {
      color: var.$black;
    }
  }
}

.calculator {
  @include mix.flex-col(29px);
  padding: 37.5px 0px 41px 0px;
  background: var.$white;
  border-radius: 7px;
  width: 461px;

  &__title {
    color: var.$black;
    text-transform: uppercase;
    margin: 0 0 0 1px;
    padding: 0px 28px;
  }

  &__body {
    @include mix.flex-col(18.5px);
    padding: 0px 28px;
  }

  &__section {
    @extend %rel;
    padding: 0px 0px 19px 0px;

    &:last-child {
      padding: 0;
    }

    &:not(:last-child)::after {
      content: '';
      @extend %abs;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var.$silver2;
    }
  }

  &__section-title {
    color: var.$gray;
    margin: 0 0 18.5px 0;
  }

  &__section-content {
    @include mix.flex(wrap, 9px 30px);
  }

  &__section-column {
    @include mix.flex-col(9px);
    width: 41.5%;
  }

  &__section-row {
    @include mix.flex(wrap, 9px 24.5px);
  }

  &__inputs {
    @extend %abs;
    @extend %vis0;
  }

  @at-root
  .range {
    @include mix.flex(nowrap, 23px);
    @extend %ali-cen;
    @extend %w-100;

    &__line {
      width: 333px;
      height: 6px;
      border-radius: 4px;
      background: var.$white2;
      margin: 0px 11px;

      &::before, &::after {
        content: '';
        @extend %abs;
        @extend %h-100;
        top: 0;
        left: -11px;
        background: var.$blue2;
        width: 20px;
        border-radius: 4px;
      }

      &::after {
        content: '';
        @extend %abs;
        left: auto;
        right: -11px;
        background: var.$white2;
        z-index: -1;
      }
    }

    &__subline {
      background: var.$blue2;
      border-radius: 4px;
    }

    &__button {
      width: 23px;
      height: 23px;
      background: transparent;

      &::after {
        content: '';
        @extend %abs;
        @extend %d-block;
        @extend %wh-100;
        top: -2px;
        left: -2px;
        background: var.$blue2;
        border-radius: 50%;
        border: 2px solid var.$white;
      }
    }

    &__input {
      @extend %abs;
      @extend %vis0;
    }

    &__output {
      color: var.$gray;
    }
  }

  &__range {
    margin: -3px 0 0 0;
  }

  &__footer {
    @include mix.flex-col(21px);
    @extend %w-100;
    padding: 0px 28px;
  }

  &__summary {
    @include mix.flex(wrap, 20px 33px); 
    background: var.$white2;
    padding: 17px 33px;
    margin: 0px -28px;
  }

  &__summary-item {
    @include mix.flex-col(2px);
    width: 170px;
    color: var.$blue;
  }

  &__section-phone {
    @include mix.flex(wrap, 14px);
    @extend %ali-cen;
    margin: -5px 0 0 0;
  }

  &__section--phone {
    padding: 0;

    &::after {
      display: none;
    }
  }

  &__phone-input {
    width: 204px;
    height: 40px;
    border: 1px solid var.$white3;
    padding: 10px 12px;

    &::placeholder {
      color: var.$gray;
    }
  }

  @at-root
  .button {
    @extend %flex-cen;
    padding: 13px 27px;
    border-radius: 4px;
    background: var.$green;
    color: var.$white;
  }

  @at-root
  .custom-radio {
    @include mix.flex(nowrap, 10px);
    @extend %ali-cen;
    width: fit-content;
    cursor: pointer;

    &__input {
      @extend %flex-cen;
      @extend %shrink0;
      width: 18px;
      height: 18px;
      background: var.$white2;
      border-radius: 50%;
      border: 2px solid var.$white3;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        background: var.$blue2;
        border-radius: 50%;
        display: none;
      }
    }

    &__text {
      color: var.$gray;
      cursor: pointer;
    }

    &.active {

      .custom-radio__input {
        border-color: var.$blue2;

        &::after {
          display: block;
        }
      }

      .custom-radio__text {
        color: var.$blue2;
      }
    }
  }
}

.popup {
  @include mix.flex-col(40px);
  @extend %p-cen;
  @extend %ali-cen;
  @extend %opa0;
  @extend %vis0;
  width: 650px;
  padding: 15px 20px 22px 20px;
  background: var.$white;
  border-radius: 6px;
  position: fixed;
  z-index: 10;
  transform: translate(-50%, -50%) scale(0.8);

  &.active {
    @extend %d-flex;
    @extend %vis1;
    @extend %opa1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__header {
    @include mix.flex-col(10px);
    @extend %rel;
    @extend %w-100;
    padding: 0px 0px 20px 0px;

    &::after {
      content: '';
      @extend %abs;
      @extend %px-cen;
      width: 100%;
      height: 1px;
      background: var.$black;
      bottom: 0;
    }
  }

  &__header-line {
    @include mix.flex(wrap, 30px);
    @extend %jus-bet;
    @extend %ali-cen;
  }

  &__company-logo {
    margin: 0 0 0 5px;
  }

  &__close {
    @extend %flex-cen;
    width: 40px;
    height: 40px;
  }

  &__close-icon {
    @extend %wh-100;
    stroke-width: 2px;
    stroke: var.$black;
  }

  &__intro {
    @include mix.flex-col(5px);
    @extend %ali-cen;
  }

  &__title {
    color: var.$green;
    text-align: center;
  }

  &__subtitle {
    color: var.$black;
    font-size: 22px;
    text-align: center;
  }

  &__body {
    @include mix.flex-col(20px);
    @extend %ali-cen;
    width: 84.5%;
  }

  &__inputs {
    @include mix.flex(wrap, 15px);
  }

  &__input-area {
    @include mix.flex-col(5px);
  }

  &__label {
    font-size: 18px;
  }

  &__input {
    width: 250px;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid var.$silver;
  }

  &__terms {
    @include mix.flex(nowrap, 12px);
  }

  &__checkbox {
    @extend %vis0;
    @extend %abs;
  }

  &__agree {
    @extend %shrink0;
    @extend %rel;
    width: 20px;
    height: 20px;
    outline: 1px solid var.$silver;
    outline-offset: -1px;
    cursor: pointer;

    &::after {
      content: '';
      @include mix.abs();
      @extend %wh-100;
      @extend %d-block;
      background: url(../images/icons/done-icon.png) 0 0 / cover no-repeat;
      display: none;
    }

    &.active::after {
     display: block;
    }
  }

  &__link {
    color: var.$green;
    text-decoration: underline;
  }
}

.popup--answer {
  padding: 15px 20px 60px 20px;
  
  .popup__header {
    gap: 25px;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .popup__intro {
    gap: 10px;
  }
}

.overlay {
  @extend %opa0;
  @extend %vis0;
  width: 100vw;
  height: 100vh;
  background: var.$black3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.2s;
  // display: none;

  &.active {
    @extend %vis1;
    @extend %opa1;
    // display: block;
  }
}

// MEDIA QUERIES

@media (max-width: 1231px) {

  .page-wrapper {
    width: 1024px;
  }

  .navbar {

    .navbar__top {
      gap: 15px 14px;
    }
  
    .company-logo {
      width: 100px;
    }
  
    .nav-links {
      gap: 7px 10px;
    }
  
    .tel-block {
      gap: 11px;
  
      &__button-outline {
        width: 160px;
      }
    }
  
    .navbar__bottom {
      gap: 0 20px;
    }
  
    .navbar__lang-btn {
      margin-right: 0;
    }
  
    .drop-list {

      &__button {
        width: 160px;
        padding: 15px;
      }
  
      &__content {
        padding: 20px 8px;
        gap: 5px;
      }
  
      &__link {
        padding: 13px 8px 11px 8px;
      }

    }

  }

  .calculator {

    .range {

      &__line {
        width: 241px;
      }

    }

  }

}

@media (max-width: 1024px) {

  .page-wrapper {
    width: 768px;
  }

  .navbar {
    display: none;
  }

  .navbar--tablet {
    display: block;

    .navbar__company-logo {
      position: static;
    }

    .navbar__top {
      flex-direction: column;
      gap: 12px 14px;
    }

    .navbar__top {
      padding: 9px 0px 10px 0px;
      flex-direction: row;
      gap: 12px 28px;
    }

    .company-logo {
      width: 124px;
    }

    .tel-block {
      gap: 21px;
    }

    .tel-block__link {
      font-size: 15px;
      line-height: 18px;
    }

    .tel-block__nav-socials {
      margin: 5px 0 0 0;
      max-width: 112px;
    }

    .tel-block__info {
      font-size: 12px;
      line-height: 14px;
    }

    .tel-block__button-outline {
      width: 165px;
      padding: 12.5px 12px;
    }

    .navbar__middle {
      justify-content: center;
      padding: 12px 0px 11px 0px;
    }

    .nav-links {
      order: 0;
      gap: 7px 41px;
      max-width: 601px;
      margin: 0;

      &__item {
        display: flex;
      }
    }

    .navbar__drop-list {
      max-width: 600px;
    }

    .drop-list__button {
      width: 120px;
      padding: 10px 15px;
      gap: 4px;

      &:first-child {
        padding: 10px 15px 10px 17px;
      }
    }

    .drop-list__button-text {
      font-size: 14px;
      line-height: 16px;
      text-align: left;
    }

    .drop-list__icon {
      will-change: transform;
      transition: all 0.2s;
    }

    .drop-list__content {
      width: 130%;
    }

    .drop-list__link {
      font-size: 14px;
      line-height: 17px;
    }

    .navbar__lang-btn {
      width: 88px;
      overflow: hidden;
      margin: 0;
    }

    .lang-btn__variant {
      font-size: 20px;
      line-height: 23px;
      padding: 7px 9px;

      &::after {
        content: '';
        height: 21px;
        right: -0.5px; 
      }
    }
  }

  .marked-text {
    font-size: 50px;
  }

  .benefits {
    gap: 20px 20px;
  }

  .benefit {
    width: 170px;
  }

  .calculator {
    width: 350px;
    padding: 25px 0px;
    gap: 20px;

    &__title {
      padding: 0px 20px;
    }

    &__body {
      padding: 0px 20px;
    }

    &__section-content {
      gap: 9px 20px;
    }

    &__section-column {
      width: 46.5%;
    }

    &__section-row {
      gap: 9px 18px;
    }

    &__footer {
      padding: 0px 20px;
    }

    &__summary {
      gap: 15px 10px;
      padding: 17px 20px;
      margin: 0 -20px;
    }

    &__summary-item {
      width: 140px;
    }

    &__phone-input {
      width: 160px;
    }
  }

}

@media (max-width: 768px) {

  .page-wrapper {
    width: 670px;
  }

  .navbar--tablet {

    .tel-block__button-outline {
      margin: 0 0 0 6px;
    }

    .navbar__drop-list {
      max-width: 525px;
    }

    .drop-list__button {
      width: 105px;
    }

    .drop-list__content {
      width: 148%;
    }

  }

  .marked-text {
    font-size: 52px;
    padding: 0px 5px;
  }

  .navbar__benefits {
    margin: 0 0 0 2px;
    gap: 26px 13px;
  }

  .benefit {
    width: 185px;
    gap: 16px;
  }

  .header__calculator {
    width: 640px;
    margin: 0 0 0 -1px !important;
    box-shadow: 0 0 6px var.$black2;
    padding: 37px 0px 39.5px 0px;
    gap: 37px;
  }

  .calculator__title {
    font-size: 22px;
    line-height: 26px;
    padding: 0px 22px;
  }

  .calculator__body {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 23px;
    gap: 15px 63px;
  }

  .calculator__section {
    padding: 0px 0px 23px 0px;

    &-content {
      gap: 9px 17px;
    }

    &-row {
      gap: 10px 24px;
    }

    &-column {
      width: 145px;
    }

    &:nth-child(2) {
      order: 1;
      padding: 0px;
      
      &::after {
        display: none;
      }
    }

    &:nth-child(3) {
      width: 219px;
      order: 0;
    }

    &:nth-child(4) {
      width: 219px;
      order: 2;
      padding: 0px;
    }
  }

  .calculator__footer {
    margin: 14px 0 0 0;
    gap: 25px;
    padding: 0px 27px;
  }

  .calculator__summary {
    padding: 18px 24px 16px 24px;
    gap: 15px 230px;
    margin: 0px -27px;
  }

  .calculator__section--phone {

    .calculator__section-phone {
      gap: 14px 27px;
    }

    .calculator__section-title {
      margin: 0 0 15px 0;
    }

    .calculator__phone-input {
      width: 309px;
    }

    .calculator__button {
      width: 248px;
      padding: 15px 27px;
    }
  }

  .calculator .range {
    gap: 8px;

    &__line {
      width: 163px;
    }

  }

}

@media (max-width: 671px) {

  .page-wrapper {
    width: 500px;
  }

  .navbar--tablet {
    display: none;
  }

  .navbar--mobile {
    display: block;
    background: var.$white;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;

    .company-logo {
      width: 124px;
    }

    .navbar__close-btn {
      display: flex;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      z-index: 10;
      display: none;
    }

    .navbar__close-icon {
      width: 100%;
      height: 100%;
    }

    .navbar__controls {
      position: relative;
      display: flex;
      gap: 15px;
      justify-content: space-between;
      align-items: center;
      padding: 25px 15px;
    }

    .navbar__burger-btn {
      width: 35px;
      height: 20px;
    }

    .navbar__burger-icon {
      flex-shrink: 0;
      display: block;
      width: 100%;
      height: 100%;
    }

    .navbar__call-btn {
      width: 60px;
      height: 41px;
      padding: 0;
    }

    .navbar__call-icon {
      width: 20px;
      height: 20px;
      fill: none;
      stroke: white;
      stroke-width: 1px;
    }

    .navbar__drop-list {
      flex-direction: column;
    }

    .drop-list__item {
      flex-direction: column;
    }

    .drop-list__link {
      padding: 10px 0px 9px 5px;
    }

    .drop-list__icon {
      will-change: transform;
      transition: all 0.2s;
      transform: rotate(90deg);
    }

    .drop-list__button {
      width: 100%;
      justify-content: flex-start;
      gap: 8px;
      padding: 10px 10px;

      &.active {
        
        .drop-list__icon {
          transform: rotate(180deg);
        }
      }
    }

    .drop-list__content { 
      box-shadow: none;
      position: static;
      padding: 0px 0px 0px 30px;
      gap: 3px;
      width: 100%;
      height: 0px;
      overflow: hidden;
      transform: none;
      transition: all 0.3s;
      background: rgb(243, 243, 243);
    }

    .drop-list__content.active {
      padding: 10px 0px 10px 30px;
      transition: all 0.3s;
      transform: none;
    }

    .navbar__nav-links {
      flex-direction: column;
      gap: 10px;
      margin: 0px 0px 0px 35px;
      order: 0;
    }

    .nav-links__item {
      display: flex;
    }

    .navbar__tel-block {
      margin: 0px 0px 0px 35px;
    }

  }

  .calculator {
    width: 100%;
    margin: 0 !important;

    .calculator__section {
      width: 100%;
      order: 0; 

      &:nth-child(2) {
        padding: 0px 0px 23px 0px;
        
        &::after {
          display: block;
        }
      }
    }

    .calculator__body {
      gap: 20px;
    }

    .calculator__summary {
      gap: 15px 100px;
    }

    .calculator__section--phone {
      padding: 0 !important;

      .calculator__phone-input {
        width: 100%;
      }

      .calculator__button {
        width: 100%;
      }
    }

    .range {

      &__line {
        width: 400px;
      }

    }
  }

  .popup {
    width: 450px;
    gap: 30px;

    &__header {
      gap: 15px;
    }

    &__intro {
      gap: 10px;
    }

    &__title {
      font-size: 35px;
      line-height: 100%;
    }

    &__body {
      width: 100%;
    }

    &__input {
      width: 197px;
    }
  }

  .popup--answer {
    padding: 15px 20px 40px 20px;

    .popup__intro {
      gap: 20px;
    }
  }

}

@media (max-width: 501px) {

  .page-wrapper {
    width: 384px;
  }

  .nav-sidebar {
    width: 290px;
  }

  .navbar--mobile .navbar__controls {
    padding: 18px 15px;
  }

  .navbar__benefits {
    gap: 23px 13px;
    margin: 0px;
  }

  .benefit {
    gap: 18px;
  }

  .calculator {
    margin: 0;
    gap: 27px;
    padding: 28px 0px 22px 0px;

    &__title {
      margin: 0px;
      padding: 0px 18px;
    }

    .calculator__body {
      padding: 0px 18px;
      gap: 19px;
    }

    .calculator__section {
      padding: 0px 0px 19px 0px;
      width: 345px;

      &:last-child {
        padding: 0 !important;
      }
    }

    .calculator__section-title {
      margin: 0 0 18px 0;
    }

    &__section-content {
      gap: 9px 47px;
    }

    .calculator__summary {
      padding: 18px 20px 16px 20px;
      gap: 15px 46px;
      margin: 0px -20px;
    }

    .calculator__footer {
      padding: 0px 20px;
    }

    .calculator__section-phone {
      margin: 0px;
      gap: 9px;
    }

    .range {

      &__line {
        width: 291px;
      }

      &__button {
        width: 25px;
        height: 25px;
      }
    }
  }

  .popup {
    width: 380px;

    &__input-area, &__input {
      width: 100%;
    }
  }

}

@media (max-width: 385px) {

  .page-wrapper {
    width: 290px;
  }

  .navbar--mobile {

    .nav-sidebar {
      width: 240px;
      padding: 18px 10px;
    }

    .navbar__close-btn {
      width: 40px;
      height: 40px;
      left: 15px;
    }

    .tel-block {
      margin: 0 0 0 20px;
    }
  }

  .marked-text {
    font-size: 45px;
  }

  .header__calculator {
    
    .calculator__section--phone {
      width: 100%;
    }

    .calculator__summary {
      padding: 18px 12px 16px 12px;
      gap: 15px 2px;
    }

    .calculator__summary-item {
      width: 132px;
    }

    .range {

      &__line {
        width: 200px;
      }
    }
  }

  .popup {
    width: 290px;
    padding: 10px 10px 15px 10px;

    &__input-area, &__input {
      width: 100%;
    }
  }

  .popup--answer {
    padding: 15px 10px 22px 10px;
  }

}