$black: #171616;
$black2: rgba(0, 0, 0, 0.25);
$green: #6CAC3D;
$green2: #019401;
$white: #FFFFFF;
$white2: #F2F2F2;
$white3: #CCCCCC;
$silver: #ababab;
$silver2: #D6D6D6;
$gray: #595959;
$blue: #2D4872;
$blue2: #20528f;
