$black: #171616;
$black2: rgba(0, 0, 0, 0.25);
$black3: rgba(0, 0, 0, 0.55);
$green: #6CAC3D;
$green2: #019401;
$white: #FFFFFF;
$white2: #F2F2F2;
$white3: #CCCCCC;
$white4: #F8F8F8;
$silver: #ababab;
$silver2: #D6D6D6;
$silver3: rgb(227, 234, 239);
$gray: #595959;
$blue: #2D4872;
$blue2: #20528f;
$blue3: rgba(32, 82, 143, 0.5);
$red: #ff0000;