@use './modules/_variables.scss' as var;
@use './modules/_templates.scss' as *;
@use './modules/_mixins.scss' as mix;


.logotype {
  will-change: transform, filter;
  transition: all 0.2s;

  &:hover, &:focus {
    transform: scale(1.05);
    filter: saturate(1.3);
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.95);
  }
}

.nav-links__link {
  will-change: transform;
  transition: all 0.2s;
  position: relative;

  &::after {
    content: '';
    @extend %px-cen;
    display: block;
    width: 0%;
    height: 2px;
    background: var.$light-blue;
    position: absolute;
    bottom: 4px;
    border-radius: 5px;
    transition: all 0.2s;
  }

  &:hover, &:focus {
    color: var.$light-blue;

    &::after {
      width: 100%;
    }
  }

  &:active {
    transition: all 0.05s;
    transform: translateY(3px);
  }
}

.tel-block__link {
  transition: all 0.2s;
  text-decoration: underline solid transparent;

  &::before {
    will-change: transform;
  }

  &:hover, &:focus {
    color: var.$light-blue;
    text-decoration: underline var.$light-blue;

    &::before {
      animation: ring 0.45s;
    }
  }

  &:active {
    transition: all 0.05s;
    color: var.$green;
    text-decoration-color: var.$green;
  }

  @keyframes ring {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(30deg);}
    50%{transform: rotate(-20deg);}
    75%{transform: rotate(30deg);}
    100%{transform: rotate(0deg);}
  }
}

.outline-btn {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$green;
    color: var.$white;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.95);
  }
}

.dropdown__trigger {
  transition: all 0.2s;

  .dropdown__trigger-text, .dropdown__trigger-icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    background: var.$green;
    
    .dropdown__trigger-text {
      color: var.$white;
    }

    .dropdown__trigger-icon {
      stroke: var.$white;
    }
  }
}

.lang-selector {

  ::after {
    transition: all 0.1s;
  }

  &:hover {

    ::after {
      height: 100% !important;
    }

  }
}

.lang-selector__trigger {
  transition: all 0.2s;

  &:not(.active) {

    &:hover, &:focus {
      background: var.$green;
      color: var.$white !important;
    }

    &:active {
      transition: all 0.05s;
      background: var.$light-blue;
    }

  }

  &.active {

    &:hover, &:focus {
      background: var.$dark-white;
    }

  }
  
}

.calculator__section {
  transition: all 0.2s;

  .calculator__subtitle {
    transition: all 0.2s;
    text-decoration: underline solid transparent;
  }

  &:hover {
    border-color: var.$green !important;

    .calculator__subtitle {
      text-decoration: underline;
    }

  }
}

.radio-var__label {

  .radio-var__effect {
    transition: all 0.2s;
  }

  &:hover {
    color: var.$blue;

    .radio-var__effect {
      border-color: var.$blue;
    }
  }
}

.noUi-handle {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$green !important;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.83);
  }
}

.input-area__input {
  transition: all 0.2s;

  &:hover, &:focus {
    border-color: var.$light-blue;
  }

  &:focus {
    color: var.$black;
  }
}

.button {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$blue;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.95);
  }
}

.popup__close-btn {
  will-change: transform;
  position: relative;
  transition: all 0.2s;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @extend %wh-100;
    border-radius: 50%;
    background: var.$white;
    z-index: -1;
    transition: all 0.2s;
    transform: scale(0.2);
    opacity: 0;
  }

  &:hover, &:focus {
    color: var.$red;

    &::before {
      opacity: 1;
      transform: translate(0px, -1px) scale(0.95);
    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.85);
  }
}

.popup__outline-btn--reset {

  &:hover, &:focus {
    background: var.$red;
    color: var.$white;
  }
}

.agreement__link {
  transition: all 0.15s;
  text-decoration: underline transparent;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:active {
    transition: all 0.05s;
    color: var.$green;
  }
}

.agreement__label {
  transition: all 0.2s;

  &:hover, &:focus {
    outline: none;
    border-color: var.$green;
  }
}

.dropdown__link {
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$blue;
    color: var.$white;
  }

  &:active {
    transition: all 0.05s;
    background: var.$green;
  }
}

.offer {
  will-change: transform;
  transition: all 0.25s;

  &__header, &__title, &__subtitle {
    transition: all 0.25s;
  }

  &:hover {
    box-shadow: 0 0 10px var.$silver;
    transform: translateY(-3px);

    .offer__title, .offer__subtitle {
      color: var.$white;
    }

    .offer__header {
      background: var.$green;
    }

  } 
}

.offer__trigger {
  will-change: transform;
  transition: all 0.15s;
  text-decoration: underline solid transparent;

  &:hover, &:focus {
    text-decoration: underline;

    &:not(:active, .opened .offer__trigger) {

      &::after {
        animation: down 0.5s infinite;
      }
    
    }

    &:not(:active) {
      
      &::after {
        animation: up 0.5s infinite;
      }

    }
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.94);
  }

  @keyframes down {
    0%{ transform: translateX(0); }
    50%{ transform: translateY(3px); }
    100%{ transform: translateX(0); }
  }

  @keyframes up {
    0%{ transform: rotate(-180deg) translateX(0); }
    50%{ transform: rotate(-180deg) translateY(3px); }
    100%{ transform: rotate(-180deg) translateX(0); }
  }
}

.tabs__trigger {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    background: var.$blue;
    color: var.$white;
  }

  &:active {

    &:not(.active) {
      transition: all 0.05s;
      transform: scale(0.95);
    } 
  }
}

.slider-pag__item {

  .slider-pag__effect, .slider-pag__text {
    transition: all 0.2s;
  }

  &:hover, &:focus {

    .slider-pag__effect {
      border-color: var.$blue;
    }

    .slider-pag__text {
      color: var.$black;
    }
  }
}

.demonstrator .swiper-slide {
  will-change: transform;
  transition: all 0.2s;

  &:hover {
    outline-color: var.$green;
  }

  &:active:not(.active) {
    transition: all 0.05s;
    transform: scale(0.95);
  }
}

.slider-control {
  will-change: transform;
  transition: all 0.2s;

  &__icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    background: var.$seal-silver;

    &:not([disabled]) {
      cursor: pointer;
      background: var.$green;

      .slider-control__icon {
        stroke: var.$white;
      }

    }
    
  }

  &:active {

    &:not([disabled]) {
      transition: all 0.05s;
      transform: scale(0.94);
    }
    
  }
}

.scroll-top {

  &:hover, &:focus {
    background: var.$blue;
    box-shadow: 0 0 5px var.$blue;
    transform: scale(1.05) !important;
  }

  &:active {
    transition: all 0.06s;
    transform: scale(0.9) !important;
  }
}

.promotion {
  will-change: transform;
  transition: all 0.25s;

  &__image {
    will-change: transform;
    transition: all 0.3s;
  }
  
  &:hover {
    box-shadow: 0 0 7px var.$black;
    transform: translateY(4px);

    .promotion__image {
      transform: scale(1.06);
    }
  }
}

.review__location {
  transition: all 0.2s;
  text-decoration: underline transparent;

  &::before {
    will-change: transform;
  }

  &:hover, &:focus {
    color: var.$light-blue;
    text-decoration: underline;

    &::before {
      animation: jump 0.5s;
    }
  }

  &:active {
    transition: all 0.05s;
    color: var.$green;
  }

  @keyframes jump {
    0%{ transform: translateY(0px); }
    35%{ transform: translateY(-6px) scaleX(0.87); }
    100%{ transform: translateY(0px); }
  }
}

.custom-pag .swiper-pagination-bullet {

  &:hover, &:focus {
    border-color: var.$blue;
  }
  
}

.team-slider__button {
  will-change: transform;

  &:hover, &:focus {
    background: var.$blue;
    color: var.$white;
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.85);
  }
}

.team-slider__point {

  &:hover, &:focus {
    background: var.$silver;
  }
}

.blog-card__link {
  transition: all 0.2s;
  text-decoration: underline transparent;

  &-icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    color: var.$light-blue;
    text-decoration: underline;

    .blog-card__link-icon {
      fill: var.$light-blue;
    }
  }

  &:active {
    transition: all 0.05s;
    color: var.$green;

    .blog-card__link-icon {
      transition: all 0.05s;
      fill: var.$green;
    }
  }
}

.brand {
  will-change: transform;
  transition: all 0.2s;

  &:hover, &:focus {
    transform: scale(1.08);
  }

  &:active {
    transition: all 0.05s;
    transform: scale(0.9);
  }
}