@use './variables.scss' as var;
@use './templates.scss' as *;

// Header

.popup {
  @extend %will;
  transition: all 0.2s;
  box-shadow: 0 0 0 var.$green;

  &:hover {
    transform: translate(-50%, calc(-50% + 3px)) scale(1) !important;
    box-shadow: 9px 9px 0 var.$green;
  }
}

.popup__close {
  @extend %will;
  transition: all 0.2s, transform 0.1s;

  .popup__close-icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    
    .popup__close-icon {
      stroke: var.$red;
      fill: var.$red;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.popup__input {
  transition: all 0.2s;

  &:hover, &:focus {
    border-color: var.$black;
  }
}

.popup__agree:not(.active) {
  transition: all 0.2s;

  &:hover, &:focus {
    outline-color: var.$green2;
  }
}

.popup__link {
  transition: all 0.2s;

  &:hover, &:focus {
    color: var.$blue2;
  }
}

.company-logo {
  @extend %will;
  transition: all 0.2s;

  &:hover, &:focus {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.nav-links__link {
  @extend %d-block;
  transition: all 0.2s, transform 0.1s;

  &:hover, &:focus {
    color: var.$blue2;
  }

  &:active {
    transform: translateY(2px);
  }
}

.tel-block__link {
  transition: all 0.2s, transform 0.1s;

  &:hover, &:focus {
    color: var.$blue2;

    &::before {
      animation: phone-move 0.4s;
    }
  }
}

@keyframes phone-move {
  0%{transform: rotate(0deg);}
  25%{transform: rotate(30deg);}
  50%{transform: rotate(0deg);}
  75%{transform: rotate(30deg);}
  100%{transform: rotate(0deg);}
}

.button-outline {
  @extend %will;
  transition: all 0.2s, transform 0.1s;

  &:hover, &:focus {
    background: var.$green;
    color: var.$white;
  }

  &:active {
    transform: scale(0.95);
  }
}

.drop-list__button {
  transition: all 0.2s;

  .drop-list__icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    background: var.$green;
    color: var.$white;

    .drop-list__icon {
      stroke: var.$white;
    }
  }
}

.drop-list__link {
  @extend %will;
  transition: all 0.2s, transform 0.1s;

  &:hover, &:focus {
    border-color: var.$green;
    color: var.$blue2;
  }

  &:active {
    transform: translateY(3px);
  }
}

.lang-btn__variant:not(.active) {
  transition: all 0.1s;

  &:hover, &:focus {
    background: var.$green;
    color: var.$white;

    &::after {
      height: 100%;
    }
  }

  &:active {
    background: var.$white;
    color: var.$green;

    &::after {
      height: 25px;
    }
  }
}

.calculator {
  @extend %will;
  transition: all 0.2s;

  * {
    @extend %will;
  }

  &__title {
    transition: all 0.2s;
  }

  &:hover {
    box-shadow: 0 0 10px var.$gray;
    transform: translateY(2.5px);

    .calculator__title {
      color: var.$green;
    }
  }
}

.calculator__section:not(.calculator__section--phone) {

  .calculator__section-title {
    @extend %rel;
    transition: all 0.2s;

    &::after {
      content: '';
      @extend %d-block;
      @extend %abs;
      transition: all 0.15s;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 1px;
      background: var.$black;
    }
  }

  &:hover {

    .calculator__section-title {
      color: var.$black;

      &::after {
        width: 100%;
      }
    }
  }
}

.range__button {
  
  &::after {
    @extend %will;
    transition: all 0.2s
  }

  &:hover, &:focus {
    
    &::after {
      background: var.$green;
      cursor: grab;
    }
  }

  &:active {
    cursor: grabbing;

    &::after {
      transform: scale(0.88);
      
    }
    
  }
}

.custom-radio {

  .custom-radio__input, .custom-radio__text {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    outline: none;

    .custom-radio__input {
      border-color: var.$blue2;
    }

    .custom-radio__text {
      color: var.$blue2;
    }
  }
}

.calculator__phone-input {
  transition: all 0.2s;

  &:hover, &:focus {
    border-color: var.$black;
  }
}

.button {
  @extend %will;
  transition: all 0.2s, transform 0.1s;

  &:hover, &:focus {
    background: var.$green2;
  }

  &:active {
    transform: scale(0.95);
  }
}

// Prices

.price-card {
  @extend %will;
  transition: all 0.2s;
  outline: 2px solid transparent;
  outline-offset: -2px;

  &__top {
    transition: all 0.2s;
  }

  &__more-btn {
    @extend %will;
    transition: all 0.2s, transform 0.1s;

    &:hover, &:focus {
      background: var.$silver3;

      &::after {
        animation: arrow-down 0.5s;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &.opened &__more-btn:hover::after {
    animation: arrow-up 0.5s;
  }

  &:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0px var.$silver2;
    outline-color: var.$blue2;

    .price-card__top {
      background: var.$green;
    }

    .price-card__name, .price-card__duration {
      color: var.$white;
    }
  }

  &:active {
    cursor: grabbing !important;
  }

  @keyframes arrow-down {
    0%{transform: translateY(0px)}
    50%{transform: translateY(5px);}
    100%{transform: translateY(0px);}
  }

  @keyframes arrow-up {
    0%{transform: translateY(0px) rotate(-180deg)}
    50%{transform: translateY(-5px) rotate(-180deg);}
    100%{transform: translateY(0px) rotate(-180deg);}
  }
}

.scrollToTopBtn {
  @extend %will;
  transition: all 0.3s;
  box-shadow: 0 0 8px transparent;

  &:hover {
    background: var.$blue2;
    box-shadow: 0 0 8px var.$blue2;
  }

  &:active {
    transform: scale(0.9) rotate(0deg) !important;
  }
}

// Examples

.demonstration__tabs-btn {
  @extend %will;
  transition: all 0.2s, transform 0.1s;
  outline: 2px solid transparent;
  outline-offset: -2px;

  &:not(.active) {

    &:hover, &:focus {
      outline-color: var.$green;
      letter-spacing: 0.5px;
    }

    &:active {
      transform: scale(0.95);
    }

  }
  
}

.scrollbar-vertical .scrollbar-thumb, .scrollbar-horizontal .scrollbar-thumb {

  &:hover {
    background: var.$green2 !important;
  }

  &:active {
    cursor: grabbing !important;
  }

}

.demonstration__control-btn {
  @extend %will;
  transition: all 0.2s;

  .demonstration__btn-icon {
    transition: all 0.2s;
  }

  &:hover, &:focus {
    background: var.$green;

    .demonstration__btn-icon {
      stroke: var.$white;
    }
  }

  &:active {
    background: var.$green2;
    transform: scale(0.94);
  }
}

// Promotions

.promotion {
  transition: all 0.2s;

  &::before {
    content: '';
    @extend %abs;
    top: -7px;
    left: 0;
    width: 100%;
    height: 6px;
    background: var.$green;
    transition: all 0.2s;

  }

  &__background {
    @extend %will;
    transition: all 0.2s;
  }

  &:hover {
    box-shadow: 3px 3px 5px var.$silver;

    &::before {
      top: 0;
    }

    .promotion__background {
      transform: scale(1.05);
      filter: saturate(1.4) contrast(1.1);
    }

  }

}