@use './_fonts.scss';
@use './modules/_normalize.scss';
@use './modules/_variables.scss' as var;
@use './modules/_templates.scss' as *;
@use './modules/_mixins.scss' as mix;
@use './modules/_typography.scss';


.header {
  @include mix.flex-col(30px);
  width: 100%;
  padding: 18px 0 0 0;
}

.logotype {
  @extend %flex-cen;
  max-width: 123px;

  &__icon {
    width: 100%;
  }
}

.nav-links {
  @include mix.flex(wrap, 0px 25px);
  align-items: center;

  &__li {
    display: flex;
  }

  &__link {
    color: var.$black;
    padding: 4px 0;
  }
}

.tel-block {
  @include mix.flex-col(5px);

  &__link {
    @include mix.flex(nowrap, 5px);
    color: var.$black;
    align-items: center;

    &::before {
      content: '';
      width: 17px;
      height: 18px;
      background: url(../images/icons/phone.svg) 0 0 / contain no-repeat;
      flex-shrink: 0;
    }
  }

  &__text {
    color: var.$black;
  }
}

.outline-btn {
  @extend %flex-cen;
  border-radius: 3px;
  border: 1px solid var.$green;
  padding: 11px 8px;
  color: var.$green;
  line-height: 100%;
  min-height: 45px;
}

.no-scrollbar {

  &::-webkit-scrollbar {
    display: none;
  }
}

.dropdown {
  position: relative;

  &__trigger {
    @include mix.flex(nowrap, 5px);
    align-items: center;
    justify-content: center;
    padding: 25px 16px;
    width: 100%;
  }

  &__trigger-text {
    font-weight: 500;
    color: var.$black;
    text-align: left;
  }

  &__trigger-icon {
    will-change: transform;
    width: 14px;
    height: 8px;
    fill: transparent;
    stroke: var.$black;
    stroke-width: 2px;
    flex-shrink: 0;
  }

  &__body {
    will-change: transform;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.707);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: all 0.15s;
    visibility: hidden;
    opacity: 0;
    transform: translateY(35px);
  }

  &__menu {
    @include mix.flex-col(0px);
    padding: 5px 0;
    border-bottom: 6px solid var.$green;
    max-height: 280px;
    overflow: auto;
  }

  &__li {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid var.$dark-white;
    }
  }

  &__link {
    padding: 6px 10px;
    width: 100%;
    color: var.$blue;
    
  }

  &.opened {

    .dropdown__trigger {
      background: var.$green;
    }

    .dropdown__trigger-text {
      color: var.$white;
    }

    .dropdown__trigger-icon {
      stroke: var.$white;
      transform: rotate(-180deg);
    }

    .dropdown__body {
      transition: all 0.25s;
      visibility: visible;
      opacity: 1;
      transform: translateY(1px);
      
    }

  }
}

.lang-selector {
  @include mix.flex(nowrap, 0px);
  align-items: center;
  border-radius: 3px;
  border: 1px solid var.$green;

  &__trigger {
    position: relative;
    padding: 12px 14px 10px 14px;
    color: var.$green;
    text-transform: uppercase;

    &:not(:last-child) {

      &::after {
        content: '';
        @extend %py-cen;
        position: absolute;
        right: 0;
        width: 1px;
        height: 58%;
        background: var.$green;
      }

    }

    &.active {
      color: var.$black;
      cursor: not-allowed;
    }
  }
}

.mob-socials {
  @include mix.flex(wrap, 17px);
  align-items: center;
  display: none;

  &__li {
    display: flex;
  }

  &__link {
    @extend %flex-cen;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
  }

  &__icon {
    @extend %wh-100;
  }
}

.navbar {
  @include mix.flex-col;
  width: 100%;

  &__top {
    display: grid;
    grid-template-columns: 126px 627px 206px 173px;
    grid-template-rows: auto;
    align-items: center;
    padding: 11px 0px;
    justify-content: space-between;
    gap: 15px 23px;
    border-bottom: 1px solid var.$green;
  }

  &__bot {
    display: grid;
    grid-template-columns: 1000px auto;
    grid-template-rows: auto;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var.$green;
  }

  &__nav-links {
    margin: 0 0 0 14.5px;
  }

  &__tel-block {
    margin: 0 0 0 14px;
  }

  &__dropdowns {
    @include mix.flex(wrap, 0px);
    align-items: center;
  }

  &__dropdown {
    width: 200px;
  }
}

.text-bg {
  font-size: 58px;
  line-height: 68px;
  border-radius: 10px;
  background: var.$green;
  color: var.$white;
  padding: 0 11px 0 10px;
}

.option {
  @include mix.flex-col(9px);

  &__icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: top;
  }

  &__text {
    color: var.$black;
  }
}

.radio-var {

  &__input {
    position: absolute;
    visibility: hidden;

    &:checked ~ .radio-var__label .radio-var__effect {
      border-color: var.$blue;

      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }

    &:checked ~ .radio-var__label {
      color: var.$blue;
    }
  }

  &__label {
    @include mix.flex(nowrap, 10px);
    align-items: center;
    color: var.$gray;
    width: fit-content;
    cursor: pointer;
  }

  &__effect {
    @extend %flex-cen;
    will-change: transform;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var.$silver;
    background: var.$dark-white;
    flex-shrink: 0;

    &::before {
      content: '';
      will-change: transform;
      width: 10px;
      height: 10px;
      background: var.$blue;
      border-radius: 50%;
      transform: scale(0.1);
      transition: all 0.25s;
      opacity: 0;
    }
  }

  &__text {
    padding: 3px 0;
  }
}

.custom-range {
  @include mix.flex(nowrap, 23px);
  align-items: center;
  width: 100%;

  &__line {
    width: 100%;
    height: 6px;
    background: none;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    padding: 0 11px;
    background: var.$dark-white;
  }

  &__value {
    font-weight: 700;
    color: var.$gray;
    flex-shrink: 0;
  }

  .noUi-base {
    background: var.$dark-white;
  }

  .noUi-connects {
    margin: 0 0 0 -11px;
  }

  .noUi-connect {
    background: var.$blue;
  }

  .noUi-handle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid var.$white;
    background: var.$blue;
    box-shadow: none;
    cursor: pointer;
    top: -10.5px;
    right: -13px;

    &::before, &::after {
      display: none;
    }
  }
}

.input-area {
  @include mix.flex-col(0px);

  &__label {
    will-change: transform;
    color: var.$black;
    order: -1;
    margin: 0 0 4px -4px;
    background: var.$white;
    width: fit-content;
    padding: 0 4px;
    transition: all 0.15s;
  }

  &__input {
    width: 100%;
    font-weight: 400;
    line-height: 18px;
    border: 1px solid var.$silver;
    padding: 8.5px 11px;
    color: var.$gray;

    &.invalid {
      border-color: var.$red;
    }
  }

  &__warning {
    font-size: 13px;
    line-height: 14px;
    font-weight: 500;
    height: 0px;
    opacity: 0;
    color: var.$red;
    transition: all 0.15s;
    margin: 3px 0 0 0;

    &.active {
      opacity: 1;
    }
  }

  &__input:focus ~ &__label {
    transform: translate(11px, 12px);
    color: var.$green;
  }
}

.button {
  @extend %flex-cen;
  border-radius: 4px;
  background: var.$green;
  padding: 14px 20px;
  color: var.$white;
  line-height: 100%;
  min-height: 48px;
}

.calculator {
  @include mix.flex-col(29px);
  background: var.$white;
  border-radius: 7px;
  padding: 30px 28px 20px 28px;

  &__title {
    color: var.$black;
    text-transform: uppercase;
  }

  &__body {
    @include mix.flex-col(18px);
    width: 100%;
  }

  &__section {
    
    
    &:not(:last-child) {
      border-bottom: 1px solid var.$light-silver;
      padding: 0 0 16px 0;
    }
  }

  &__section--rooms {

    .calculator__selectors {
      gap: 9px 24px;
    }

    .calculator__radio-var {
      width: auto;
      max-width: 140px;
    }
  }

  &__section--range {
    border: none !important;
    padding: 0 0 9px 0 !important;
  }

  &__subtitle {
    font-weight: 700;
    color: var.$gray;
    margin: 0 0 17px 0;
  }

  &__selectors {
    @include mix.flex(wrap, 5px 54px);
    align-items: center;
  }

  &__custom-range {

    .custom-range__line {
      width: 83%;
    }
  }

  &__results {
    @include mix.flex(wrap, 18px 97px);
    background: var.$dark-white;
    padding: 17px 28px;
    margin: 0 -28px;
  }

  &__result {
    @include mix.flex-col(2px);
    max-width: 154px;
  }

  &__result-title, &__result-value {
    color: var.$blue;
  }

  &__tel {
    @include mix.flex(nowrap, 14px);
    align-items: flex-start;
  }

  &__radio-var {
    width: 145px;
  }

  &__button {
    width: 133px;
  }

  &__input-area {
    width: 203px;
    margin: 4px 0 0 0;

    .input-area__warning {
      height: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.intro {
  display: grid;
  grid-template-columns: 533px 461px;
  grid-template-rows: auto 1fr;
  align-items: flex-start;
  padding: 19px 0;
  position: relative;
  gap: 86px 50px;
  justify-content: space-between;

  &::before {
    content: '';
    @extend %px-cen;
    position: absolute;
    top: 0;
    display: block;
    width: 100vw;
    height: 100%;
    background: var.$gradient-white 0 0 / 100% 100% no-repeat, url(../images/backgrounds/interior.jpg) 0 0 / 100% 100% no-repeat;
    filter: saturate(1.5);
    z-index: -1;
  }

  &__heading {
    @include mix.flex-col(17px);
    margin: 11px 0 0 0;
  }

  &__title {
    color: var.$black;
    text-transform: uppercase;
  }

  &__subtitle {
    color: var.$black;
  }

  &__calculator {
    grid-row: span 2;
  }

  &__options {
    @include mix.flex(wrap, 25px 43px);
  }

  &__option {
    width: 185px;
  }
}

.agreement {
  @include mix.flex(nowrap, 10px);

  &__checkbox {
    position: absolute;
    visibility: hidden;
  }

  &__label {
    @extend %flex-cen;
    width: 18px;
    height: 18px;
    border: 1px solid var.$black;
    margin: 2px 0 0 0;
    flex-shrink: 0;
    cursor: pointer;

    &::before {
      content: '';
      @extend %wh-100;
      will-change: transform, opacity;
      background: url(../images/icons/ok-sign.svg) 0 0 / cover no-repeat;
      transition: all 0.15s;
      transform: scale(0.2);
      opacity: 0;
    }
  }

  &__link {
    color: var.$light-blue;
  }

  &__checkbox:checked ~ &__label {
    border-color: var.$green;

    &::before {
      opacity: 1;
      transform: translateX(-1px) scale(1.1);
    }
  }

  &__checkbox.invalid ~ &__label {
    border-color: var.$red;
  }
}

.popup-backdrop {
  @extend %wh-100;
  position: fixed;
  top: 0;
  left: 0;
  background: var.$trans-black;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  @extend %p-cen;
  @include mix.flex-col(15px);
  will-change: transform;
  position: fixed;
  width: 470px;
  background: var.$white;
  border-radius: 7px;
  padding: 0 0 23px 0;
  z-index: 10;
  border-bottom: 8px solid var.$green;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.15s;
  opacity: 0;
  visibility: hidden;

  &__close-btn {
    position: absolute;
    width: 33px;
    height: 33px;
    top: -34px;
    right: -35px;
    font-size: 40px;
    line-height: 20px;
    color: var.$white;
    padding: 5px;
  }

  &__image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: 0px -30px;
    border-radius: 7px 7px 0 0;
    filter: saturate(1.3);
  }

  &__header {
    @include mix.flex-col(5px);
    width: 100%;
    padding: 0px 20px;
    margin: 0 0 5px 0;
  }

  &__title {
    color: var.$green;
    text-align: center;
    font-size: 32px;
    line-height: 35px;
  }

  &__subtitle {
    color: var.$black;
    text-align: center;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 0px 20px;
  }

  &__input-area {

    .input-area__input {
      font-size: 17px;
      line-height: 17px;
      min-height: 40px;
    }
  }

  &__agreement {
    grid-column: span 2;
  }

  &__outline-btn--reset {
    border-color: var.$red;
    color: var.$red;
  }

  &.active {
    transition: all 0.3s;
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.popup--result {
  gap: 23px;

  .popup__image {
    object-position: top;
  }

  .popup__header {
    margin: 0;
  }
}

.mob-nav {
  @include mix.flex(nowrap, 20px);
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: var.$white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 8;
  transition: all 0.15s;

  &__burger {
    @include mix.flex-col(4px);
    justify-content: center;
    width: 40px;
    height: 37px;
    flex-shrink: 0;
    padding: 5px 5px 5px 0;
  }

  &__burger.active {

    .mob-nav__burger-line {
      width: 0px;

      &::before {
        transform: translateY(-3px) rotate(45deg);
      }

      &::after {
        transform: translateY(3px) rotate(-46deg);
      }
    }
  }

  &__burger-line {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background: var.$blue;
    transition: all 0.15s;
    
    &::before, &::after {
      content: '';
      will-change: transform;
      height: 4px;
      width: 35px;
      position: absolute;
      top: -9.5px;
      left: 0;
      display: block;
      border-radius: 1px;
      background: var.$blue;
      transition: all 0.2s;
      transform-origin: left;
    }

    &::after {
      top: 10px;
    }
  }

  &__logotype {
    margin: 0 10px;
    flex-shrink: 0;
  }

  &__call {
    @extend %flex-cen;
    width: 60px;
    height: 41px;
    border-radius: 3px;
    background: var.$green;
  }

  &__call-icon {
    width: 33.4%;
    max-height: 80%;
  }

  &.active {
    box-shadow: 0 0 4px var.$black;
  }
}

.mob-menu {
  @include mix.flex-col(20px);
  position: fixed;
  top: 71px;
  left: 0;
  width: 100%;
  height: calc(100% - 71px);
  background: var.$red;
  z-index: 8;
  display: none;

  &.active {
    display: flex;
  }
}

.main {
  @include mix.flex-col(58px);
  width: 100%;
  padding: 67px 0;
}

.section {
  @include mix.flex-col(48px);
  width: 100%;
  align-items: center;

  &__header {
    @include mix.flex-col(14px);
    align-items: center;
  }

  &__title {
    text-align: center;
    color: var.$black;
    text-align: center;
    max-width: 850px;
  }

  &__subtitle {
    font-weight: 400;
    color: var.$black;
    text-align: center;
    max-width: 850px;
  }

  &__content {
    @include mix.flex-col(40px);
    width: 100%;
  }
}

.desc-list {
  @include mix.flex-col(6px);

  &__li {
    @include mix.flex(nowrap, 5px);
    align-items: center;
    color: var.$black;

    &--title {
      font-weight: 700;
      margin: 0 0 3px 0;
    }

    &:not(.desc-list__li--title) {

      &::before {
        content: '';
        width: 12px;
        height: 8px;
        background: url(../images/icons/done.svg) 0 0 / contain no-repeat;
        flex-shrink: 0;
      }
    }
  }
}

.offer {
  @include mix.flex-col(0px);
  border-radius: 16px;
  overflow: hidden;
  background: var.$white;
  box-shadow: 0 0 5px var.$silver;

  &__image {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    filter: saturate(1.3);
    object-fit: cover;
    flex-shrink: 0;
  }

  &__header {
    @include mix.flex(nowrap, 14px);
    align-items: center;
    background: var.$alfa-blue;
    padding: 14px 23px;
  }

  &__intro {
    @include mix.flex-col(5px);
  }

  &__title {
    color: var.$green;
    text-transform: uppercase;
    word-break: break-all;
  }

  &__subtitle {
    font-weight: 700;
    color: var.$black;
  }

  &__description {
    font-weight: 300;
    color: var.$black;
    padding: 25px 22px 22px 22px;
    min-height: 143px;
  }

  &__body {
    @include mix.flex-col(18px);
    padding: 16px 22px 15px 22px;
    border-top: 2px solid var.$blue;
    overflow: hidden;
    height: 204px;
    transition: all 0.25s;
  }

  &__footer {
    @include mix.flex-col(6px);
    align-items: center;
    padding: 5px 22px 31px 22px;
    background: var.$white;
    box-shadow: -25px -45px 70px var.$white;
    transition: all 0.2s;
  }

  &__trigger {
    @include mix.flex(nowrap, 9px);
    align-items: center;
    color: var.$blue;

    &::after {
      content: '';
      will-change: transform;
      width: 13px;
      height: 13px;
      background: url(../images/icons/full-arrow.svg) 0 0 / contain no-repeat;
      flex-shrink: 0;
      transition: all 0.25s;
    }
  }

  &__prices {
    @include mix.flex(wrap, 3px 9px);
    align-items: center;
    justify-content: center;
    margin: 0 0 12px 0;
  }

  &__old-price {
    color: var.$black;
    text-decoration: underline;
    text-underline-offset: -4px;
    text-decoration-skip-ink: none;
  }

  &__bold {
    font-weight: 700;
  }

  &__new-price {
    color: var.$green;
    font-weight: 700;
  }

  &__button {
    width: 188px;
    padding: 14px 7px;
  }

  &.opened {

    .offer__footer {
      box-shadow: none;
    }

    .offer__trigger::after {
      transform: rotate(-180deg);
    }

    .offer__header {
      background: var.$green;
    }

    .offer__title, .offer__subtitle {
      color: var.$white;
    }
  }
}

.offers {
  @include mix.flex(wrap, 21px);
  width: 100%;
  align-items: flex-start;
  justify-content: center;

  &__offer {
    width: calc(25% - 16px);
  }
}

.offers-slider {
  @extend %px-cen;
  width: 100vw;
  padding: 7px 0;
  margin: -7px 0;
}

.colored-bg {

  &::before {
    content: '';
    @extend %px-cen;
    position: absolute;
    top: 0;
    display: block;
    width: 100vw;
    height: 100%;
    background: var.$bg-silver;
    z-index: -1;
  }
}

.section--works {
  position: relative;
  padding: 60px 0 57px 0;
}

.slider-pag {
  @include mix.flex(wrap, 15px 34px);
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: none !important;

  &__item {
    @include mix.flex(nowrap, 10px);
    display: flex !important;
    align-items: center;
    opacity: 1;
    width: fit-content;
    height: fit-content;
    border-radius: 0;
    background: none;
    margin: 0 !important;

    &.swiper-pagination-bullet-active {

      .slider-pag__effect {
        border-color: var.$blue;

        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }

      .slider-pag__text {
        color: var.$black;
      }

    }
  }

  &__effect {
    @extend %flex-cen;
    will-change: transform;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var.$dark-white;
    border: 2px solid var.$silver;
    flex-shrink: 0;

    &::before {
      content: '';
      will-change: transform;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var.$blue;
      transform: scale(0.1);
      transition: all 0.25s;
      opacity: 0;
    }
  }

  &__text {
    color: var.$gray;
    text-align: left;
  }
}

.slider-control {
  @extend %flex-cen;
  flex-shrink: 0;
  width: 48px;
  height: 69px;
  padding: 12px 9px;
  border-radius: 4px;

  &[disabled] {
    cursor: not-allowed;

    .slider-control__icon {
      stroke: var.$dark-silver;
    }
  }

  &__icon {
    @extend %wh-100;
    stroke-width: 5px;
    stroke: var.$black;
    fill: transparent;
  }
}

.demo-info {
  display: grid;
  grid-template-columns: 145px auto;
  grid-template-rows: repeat(7, fit-content(400px));
  align-items: start;
  gap: 8px 14px;
  background: var.$white;
  width: 100%;
  border-radius: 6px;
  padding: 38px 32px 38px 41px;
  box-shadow: 0 4px 10px var.$light-silver;

  &__type {
    @include mix.flex(nowrap, 6px);
    align-items: center;
    color: var.$gray;

    &::before {
      content: '';
      width: 17px;
      height: 17px;
      background: url(../images/icons/dollar-sign.svg) 0 0 / contain no-repeat;
      flex-shrink: 0;
    }
  }

  &__type--square::before {
    background: url(../images/icons/grid.svg) 0 0 / contain no-repeat;
  }

  &__type--time::before {
    background: url(../images/icons/calendar.svg) 0 0 / contain no-repeat;
  }

  &__type--rooms::before {
    background: url(../images/icons/home.svg) 0 0 / contain no-repeat;
  }

  &__type--loc::before {
    background: url(../images/icons/map-pin.svg) 0 0 / contain no-repeat;
  }

  &__type--list {
    grid-column: span 2;

    &::before {
      background: url(../images/icons/file-text.svg) 0 0 / contain no-repeat;
    }
  }

  &__value {
    font-weight: 700;
    color: var.$black;
  }

  &__desc-list {
    height: 100%;
    overflow: auto;
    grid-column: span 2;
    margin: 10px 0 0 23px;
  }
}

.demonstrator {
  display: grid;
  grid-template-columns: auto 124px 748px 328px auto;
  grid-template-rows: auto 420px;
  align-items: center;
  gap: 32px 0;

  &__slider-pag {
    grid-column: span 5;
  }

  &__slider-control {

    &--next {
      justify-self: end;

      .slider-control__icon {
        transform: rotate(180deg);
      }
    }

  }

  &__thumbs {
    width: 105px;
    height: 100%;
    margin: 0;
    justify-self: start;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &__img {
    @extend %wh-100;
    position: relative;
    z-index: -1;
    display: block;
    filter: saturate(1.3);
  }

  &__screen {
    @extend %wh-100;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: -2px 4px 10px var.$light-silver;
    background: var.$white;
    position: relative;
    z-index: 1;

    &.active .demonstrator__big-img {
      transition: all 0.1s;
    }
  }

  &__big-img {
    @extend %wh-100;
    will-change: transform, filter;
    object-fit: cover;
    display: block;
    filter: saturate(1.4);
    transition: all 0.3s;
    -webkit-user-drag: none;

    &.active {
      filter: saturate(1.4) blur(15px);
    }
  }

  &__demo-info {
    width: calc(100% + 10px);
    height: 100%;
    margin: 0 0 0 -10px;
  }

  .swiper-slide {
    overflow: hidden;
    border-radius: 4px;
    outline: 3px solid transparent;
    outline-offset: -3px;

    &.active {
      outline-color: var.$green;
    }
  }
}

.tabs {
  @include mix.flex-col(32px);
  align-items: center;
  width: 100%;

  &__controls {
    @include mix.flex(wrap, 6px);
    align-items: center;
    justify-content: center;
  }

  &__trigger {
    padding: 14px 20px;
    font-weight: 700;
    background: var.$seal-silver;
    border-radius: 4px;
    color: var.$gray;
    width: 236px;
    min-height: 48px;
    line-height: 100%;

    &.active {
      background: var.$blue;
      color: var.$white;
    }
  }

  &__area {
    display: grid;
    grid-template: auto / auto;
    width: 100%;
  }

  &__tab {
    will-change: transform;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transform: scale(0.75);
    opacity: 0;
    visibility: hidden;
    width: 100%;

    &.active {
      transition: all 0.45s;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &__demonstrator {
    margin: 0 -60px;
  }

  &__button {
    width: 197px;
  }
}

.scroll-top {
  @extend %flex-cen;
  will-change: transform;
  position: fixed;
  right: 30px;
  bottom: 40px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var.$green;
  padding: 0px;
  transition: all 0.25s;
  transform: rotate(-250deg) scale(0.1);
  visibility: hidden;
  opacity: 0;
  z-index: 8;

  &::before {
    content: '';
    @extend %wh-100;
    background: url(../images/icons/scroll-arrow.svg) 0 0 / contain no-repeat;
    margin: 0 0 1px 0;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  &.active.off {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-250deg) scale(0.1) !important;
  }

}

.zoom-fs {
  @extend %wh-100;
  position: fixed;
  top: 0;
  left: 0;
  background: var.$trans-black3;
  z-index: 11;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: var.$white;
    font-size: 29px;
    line-height: 100%;
    font-weight: 700;
    padding: 10px;
  }

  &__img {
    @extend %p-cen;
    will-change: transform;
    position:absolute;
    width: 100%;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
    filter: saturate(1.4);
  }
}

.promotion {
  @include mix.flex-col(0px);
  justify-content: flex-end;
  position: relative;
  border-radius: 8px;

  &__image-wrapper {
    @include mix.abs();
    @extend %wh-100;
    z-index: -1;
    border-radius: 8px;
    overflow: hidden;
  }

  &__image {
    @extend %wh-100;
    display: block;
    object-fit: cover;
    filter: saturate(1.3);
  }

  &__info {
    @include mix.flex-col(12px);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 19px 25px;
    position: relative;
    min-height: 178px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 175%;
      bottom: 0;
      left: 0;
      background: var.$gradient-white2;
      z-index: -1;
      border-radius: 7px;
    }
  }

  &__title, &__text {
    color: var.$black;
    text-align: center
  }

  &__text {
    max-width: 300px;
  }

  &__button {
    width: 205px;
  }
}

.promotions {
  @include mix.flex-col(23px);
  align-items: center;
  width: 100%;

  &__body {
    @include mix.flex(wrap, 25px 20px);
    align-items: center;
    height: 510px;
    overflow: hidden;
    padding: 8px 8px 11px 8px;
    margin: -8px -8px -11px -8px;
    transition: all 0.3s;
  }

  &__promotion {
    width: calc(33.33% - 13.5px);
    height: 490px;

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__outline-btn {
    width: 205px;
    min-height: 48px;
  }

  &.opened {

    .promotions__promotion--hidden {
      transition: all 0.5s;
      visibility: visible;
      opacity: 1;
    }
  }
}

.custom-pag {
  @extend %flex-cen;
  gap: 15px;
  bottom: 1px !important;

  .swiper-pagination-bullet {
    @extend %flex-cen;
    will-change: transform;
    opacity: 1;
    width: 18px;
    height: 18px;
    border: 2px solid var.$silver;
    border-radius: 50%;
    background: var.$dark-white;
    transition: all 0.2s;
    margin: 0 !important;

    &::before {
      content: '';
      will-change: transform;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var.$blue;
      transform: scale(0.1);
      opacity: 0;
      transition: all 0.25s;
    }

    &-active {
      border-color: var.$blue;

      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

}

.explanator {
  display: grid;
  grid-template-columns: repeat(8, 110px);
  grid-template-rows: auto auto;
  justify-content: space-between;
  justify-items: center;
  gap: 15px 20px;
  position: relative;

  &__option {
    will-change: transform;
    align-items: center;
    gap: 11px;
    transition: all 0.2s;

    .option__icon {
      width: 70px;
      height: 70px;
    }

    .option__text {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
    }

    &.active {
      transform: translateY(-12px);
    }
  }

  &__option--cctv {

    .option__icon {
      width: 60px;
      height: 70px;
    }
  }

  &__point {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: var.$dark-white;
    cursor: pointer;
    border: 2px solid var.$white;
    transition: all 0.3s;

    &.active {
      background: var.$green;
    }
  }

  &__line {
    width: 90%;
    height: 6px;
    background: var.$dark-white;
    position: absolute;
    bottom: 10px;
    left: 5%;
    z-index: -1;
  }

  &__subline {
    width: 0px;
    height: 100%;
    background: var.$green;
    transition: all 0.25s;
  }
}

.section--storage {
  padding: 50px 0 55px 0;
  position: relative;
}

.adv-line {
  @include mix.flex(wrap, 30px 60px);
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background: var.$white;
  box-shadow: 0 0 10px var.$seal-silver;

  &__option {
    width: 170px;
    align-items: center;

    .option__icon {
      width: 70px;
      height: 70px;
    }

    .option__text {
      text-align: center;
    }
  }
}

.showroom {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 8px));
  grid-template-rows: auto 392px;
  gap: 16px;

  &__adv-line {
    grid-column: span 2;
  }

  &__image-wrapper {
    @extend %wh-100;
    border-radius: 8px;
    overflow: hidden;

    &.active .showroom__image {
      transition: all 0.1s;
    }
  }

  &__image {
    @extend %wh-100;
    will-change: transform;
    display: block;
    object-fit: cover;
    filter: saturate(1.3);
    transition: all 0.2s;
  }
}

.q-chapter {
  @include mix.flex-col(0px);

  &__count {
    color: var.$light-silver;
  }

  &__current {
    color: var.$green;
  }

  &__title, &__text {
    color: var.$black;
  }

  &__title {
    margin: 0 0 13px 0;
  }
}

.quality {
  @include mix.flex(nowrap, 30px);
  @extend %px-cen;
  position: relative;
  width: 100vw;
  align-items: center;

  &__pic {
    align-self: stretch;
  }

  &__image {
    display: block;
    object-fit: cover;
    border-radius: 0 8px 8px 0;
    filter: saturate(1.3);
    width: 597px;
  }

  &__chapters {
    @include mix.flex(wrap, 35px 50px);
    align-items: flex-start;
    padding: 0 15px 0 0;
  }

  &__q-chapter {
    width: 220px;
  }

}

// Media queries

@media (max-width: 1330px) {

  .page-wrapper {
    width: 1030px;
  }

  .header {
    padding: 5px 0 18px 0;
  }

  .navbar {

    &__top {
      grid-template-columns: 126px 400px 206px 173px;
    }

    &__bot {
      grid-template-columns: 850px auto;
    }

    &__dropdown {
      width: 170px;
    }

    &__nav-links, &__tel-block {
      margin: 0;
    }
  }

  .dropdown {
    
    &__trigger {
      padding: 25px 14px;
    }

    &__trigger-text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .intro {
    grid-template-columns: 415px 461px;
  }

  .offer {

    &__description {
      min-height: 128px;
    }

    &__body {
      height: 120px;
    }
  }

  .offers {

    &__offer {
      width: calc(33.33% - 14px);
    }
  }

  .demo-info {
    padding: 30px 20px 45px 20px;
    box-shadow: 0 0 5px var.$light-silver;
  }

  .demonstrator {
    grid-template-columns: 55px 570px 320px 55px;
    grid-template-rows: auto 330px 70px;
    gap: 15px 0;

    &__slider-pag {
      margin: 0 0 10px 0;
    }

    &__thumbs {
      width: 100%;
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }

    &__screen {
      box-shadow: none;
    }

    &__demo-info {
      width: calc(100% - 10px);
      height: 100%;
      margin: 0 0 0 10px;
      grid-row: span 2;
    }
  }

  .tabs {

    &__trigger {
      width: 200px;
    }

    &__demonstrator {
      margin: 0;
    }
  }

  .promotion {

    &__info {
      padding: 19px 15px;
    }
  }

  .adv-line {
    gap: 30px 27px;
  }

  .quality {

    &__chapters {
      gap: 30px 32px;
    }

    &__q-chapter {
      width: 180px;
    }
  }

}

@media (max-width: 1031px) {

  .page-wrapper {
    width: 830px;
  }

  .navbar {

    &__top {
      grid-template-columns: 126px 195px 206px;
      justify-content: space-between;
      grid-template-rows: auto auto;
    }

    &__bot {
      grid-template-columns: 640px auto;
    }

    &__nav-links {
      grid-row: 2 / 3;
      grid-column: span 3;
      gap: 5px 35px;
      justify-content: center;
      border-top: 1px solid var.$green;
      padding: 14px 0 0 0;
    }

    &__dropdown {
      width: 128px;
    }
  }

  .dropdown {
    
    &__trigger {
      padding: 20px 20px;
    }

    &__body {
      width: 160px;
    }
  }

  .text-bg {
    font-size: 52px;
    line-height: 61px;
  }

  .intro {
    grid-template-columns: 350px 425px;
    gap: 87px 25px;

    &__heading {
      margin: 0;
    }

    &__title {
      font-size: 52px;
      line-height: 61px;
    }

    &__subtitle {
      font-size: 35px;
      line-height: 40px;
    }

    &__options {
      gap: 25px 25px;
    }

    &__option {
      width: 162px;
    }
  }

  .offer {

    &__description {
      min-height: 110px;
    }

    &__body {
      height: 145px;
    }
  }

  .offers {

    &__offer {
      width: calc(50% - 11px);
    }
  }

  .demo-info {
    padding: 23px 20px 30px 20px;

    &__desc-list {
      margin: 5px 0 0 23px;
    }
  }

  .demonstrator {
    grid-template-columns: 55px 375px 315px 55px;
    grid-template-rows: auto 300px 70px;
  }

  .tabs {

    &__trigger {
      width: 160px;
    }
  }

  .promotions {

    &__body {
      height: 420px;
    }

    &__promotion {
      height: 400px;
    }
  }

  .explanator {
    grid-template-columns: 250px 250px;
    grid-template-rows: auto;
    justify-items: start;
    gap: 45px 200px;
    justify-content: center;

    &__option {
      flex-direction: row;
      gap: 15px;
      position: relative;

      .option__text {
        text-align: left;
      }

      &--cctv {

        .option__icon {
          width: 70px;
          height: 60px;
          flex-shrink: 0;
          object-position: left top;
        }
      }

      &::before {
        content: '';
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border: 2px solid var.$white;
        background: var.$dark-white;
        margin: 0 5px 0 0;
        flex-shrink: 0;
      }

      &:nth-child(1), &:nth-child(2) {

        &::after {
          content: '';
          position: absolute;
          top: 35px;
          left: 10px;
          width: 6px;
          height: 345px;
          background: var.$dark-white;
          border-radius: 3px;
          z-index: -1;
        }
      }

    }

    &__point, &__line {
      display: none;
    }
  }

  .adv-line {
    gap: 25px 27px;

    &__option {
      width: 130px;
    }
  }

  .showroom {
    grid-template-rows: auto 320px;
  }

  .quality {
    width: 100%;
    position: static;
    transform: none;
    left: auto;
    flex-direction: column;
    gap: 31px;

    &__image {
      width: 100%;
      height: 330px;
      border-radius: 8px;
    }

    &__chapters {
      gap: 24px 36px;
      order: -1;
      padding: 0;
    }

    &__q-chapter {
      width: calc(33.333% - 24px);
    }
  }

}

@media (max-width: 831px) {

  .page-wrapper {
    width: 670px;
  }

  .header {
    padding: 0;
    gap: 12px;
  }

  .mob-socials {
    display: flex;
  }

  .lang-selector {

    &__trigger {
      font-size: 20px;
      line-height: 20px;
      padding: 8.5px 9px 7.5px 9px;
    }
  }

  .navbar {

    &__top {
      grid-template-columns: 126px 167px 112px 165px;
      gap: 10px 20px;
      padding: 11px 0px 9px 0;
    }

    &__bot {
      grid-template-columns: 520px auto;
    }

    &__mob-socials {
      grid-column: 3 / 4;
    }

    &__nav-links {
      gap: 10px 40.5px;
      grid-column: span 4;
      padding: 10px 0 0 0;

      .nav-links__li:nth-child(2) {
        display: none;
      }
    }

    &__outline-btn {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      min-height: 45px;
    }

    &__dropdown {
      width: 104px;
    }
  }

  .tel-block {
    gap: 2px;

    &__link {
      font-size: 15px;
      line-height: 18px;
      gap: 8px;

      &::before {
        width: 17px;
        height: 17px;
      }
    }

    &__text {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .dropdown {
    
    &__trigger {
      padding: 12px 15px;
    }
  }

  .text-bg {
    padding: 0 6px 0 5px;
  }

  .calculator {
    padding: 38px 23px 28px 23px;
    box-shadow: 0 0 6px var.$trans-black2;

    &__title {
      font-size: 22px;
      line-height: 26px;
      grid-column: span 2;
    }

    &__body {
      display: grid;
      grid-template-columns: 307px 219px;
      grid-template-rows: repeat(4, auto);
      gap: 25px 63px;
    }

    &__section {
      order: 0;

      &:not(:last-child) {
        padding: 0;
        border: none;
      }

      &:first-child, &:nth-child(3) {
        padding: 0 0 25px 0;
        border-bottom: 1px solid var.$light-silver;
      }
      
      &--rooms {
        order: 1;

        .calculator__selectors {
          gap: 6px 24px;
        }
      }

      &--type {
        order: 2;
      }

      &--range {
        order: 3;
      }

      &--tel {
        order: 5;
        grid-column: span 2;
      }

    }

    &__results {
      order: 4;
      grid-column: span 2;
      margin: 0 -28px 0 -23px;
      padding: 17px 23px;
      gap: 18px 262px;
    }

    &__selectors {
      gap: 5px 17px;
    }

    &__tel {
      gap: 29px;
    }

    &__input-area {
      width: 309px;
    }

    &__button {
      width: 248px;
    }
  }

  .intro {
    grid-template-columns: 464px auto;
    grid-template-rows: auto auto auto;
    gap: 35px 0px;
    padding: 30px 0 0 0;
    
    &::before {
      background: var.$gradient-white 0 0 / 130% 100% no-repeat, url(../images/backgrounds/interior.jpg) top right / 162% 687px no-repeat;
    }

    &__heading {
      gap: 13px;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 35px;
    }

    &__calculator {
      order: 1;
      grid-row: auto;
      grid-column: span 2;
    }

    &__options {
      gap: 33px 53px;
      grid-row: 2 / 3;
      margin: 0 0 11px 0;
    }

    &__option {
      width: 182px;
    }
  }

  .main {
    padding: 64px 0;
  }

  .section {
    gap: 40px;

    &__title {
      font-size: 38px;
      line-height: 45px;
    }
  }

  .offer {

    &__description {
      min-height: 143px;
    }

    &__body {
      height: 204px;
    }
  }

  .section--works {
    padding: 30px 0 35px 0;
  }

  .slider-pag {
    gap: 15px 22px;

    &__item {
      gap: 7px;
    }
  }

  .demo-info {
    padding: 0px;
    box-shadow: none;
    gap: 8px;
  }

  .demonstrator {
    grid-template-columns: 364px 277px;
    grid-template-rows: auto 259px 60px;
    gap: 14px 0;

    &__slider-pag {
      margin: 0 0 34px 0;
    }

    &__thumbs {
      grid-row: 3 / 4;
      grid-column: span 1;
    }

    &__demo-info {
      width: calc(100% - 18px);
      margin: 0px;
      justify-self: end;
      grid-row: span 2;
      grid-column: 2 / 3;
    }

    &__slider-control {
      display: none;
    }
  }

  .tabs {
    gap: 21px;

    &__trigger {
      width: 150px;
      padding: 14px;
    }

    &__area {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 8.7%;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: calc(100% - 8.8%);
        background: var.$white;
        z-index: -1;
        box-shadow: 0 4px 8px var.$car-silver;
      }

    }

    &__demonstrator {
      margin: 0 0 26px 0;
    }

    &__tab {
      transition: none;
      transform: none;

      &.active {
        transition: none;
        transform: none;
      }
    }

    &__button {
      margin: 5px 0 0 0;
    }
  }

  .promotion {

    &__info {
      padding: 18px 20px 18px 20px;
      gap: 9px;

      &::before {
        height: 150%;
      }
    }

    &__title {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .promotions {
    padding: 0 0 38.5px 0;

    &__promotion {
      width: 100%;
      height: 350px;

      &--hidden {
        visibility: visible;
        opacity: 1;
      }
    }
    
  }

  .explanator {
    gap: 45px 110px;
  }

  .section--storage {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 19px 35px 19px;

    .section__title {
      max-width: 630px;
    }
  }

  .adv-line {
    gap: 25px 30px;
    justify-content: flex-start;

    &__option {
      width: 210px;
      flex-direction: row;

      .option__icon {
        width: 46px;
        height: 46px;
      }

      .option__text {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
      }
    }
  }

  .showroom {
    grid-template-rows: auto 280px;
  }

  .quality {

    &__chapters {
      gap: 30px 36px;
    }
  }

}

@media (max-width: 671px) {

  .page-wrapper {
    width: 500px;
  }

  .header {
    padding: 71px 0 0 0;
  }

  .mob-nav {
    display: flex;
  }

  .navbar {
    display: none;
  }

  .calculator {

    &__body {
      display: flex;
      flex-direction: column;
    }

    &__section {

      &:not(:last-child) {
        padding: 0 0 18px 0;
        border-bottom: 1px solid var.$light-silver;
      }
      
      &--rooms, &--type, &--range, &--tel {
        order: 0;
      }

    }

    &__results {
      order: 0;
      margin: 0 -23px 0 -23px;
      padding: 17px 23px;
      gap: 18px 110px;
    }

    &__selectors {
      gap: 9px 70px;
    }

    &__tel {
      flex-direction: column;
      gap: 5px;
    }

    &__input-area {
      width: 100%;
    }

    &__button {
      width: 100%;
    }
  }

  .intro {
    grid-template-columns: 464px 6px;
    padding: 44px 0 0 0; 
  }

  .popup {
    width: 380px;

    &__image {
      height: 140px;
    }

    &__body {
      gap: 15px;
    }
  }

  .demo-info {
    padding: 23px 22px;
    box-shadow: 0 0 5px var.$trans-black2;
    border-radius: 8px;

    &__desc-list {
      max-height: 170px;
    }
  }

  .demonstrator {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__slider-pag {
      display: none;
    }

    &__thumbs {
      width: 470px;
      height: 60px;
    }

    &__screen {
      width: 100%;
      height: 250px;
      order: -1;
    }

    &__demo-info {
      width: 100%;
    }
  }

  .tabs {
    gap: 26px;

    &__area {

      &::before {
        display: none;
      }
    }

    &__tab {
      transform: scale(0.85);

      &.active {
        transition: all 0.45s;
        transform: scale(1);
      }
    }

    &__demonstrator {
      margin: 0;
    }

    &__button {
      margin: 0;
    }
  }

  .scroll-top {
    right: 18px;
  }

  .explanator {
    gap: 30px;
    display: flex;
    flex-direction: column;

    &__option {
      width: fit-content;

      &:nth-child(1), &:nth-child(2) {

        &::after {
          height: 590px;
        }
      }

    }
  }

  .section--storage {
    width: 100%;
    position: relative;
    left: 0;
    transform: none;
    padding: 30px 0 35px 0;
  }

  .adv-line {

    &__option {
      width: 200px;
    }
  }

  .showroom {
    grid-template-columns: 1fr;
    grid-template-rows: auto 270px 270px;

    &__adv-line {
      grid-column: span 1;
    }
  }

  .quality {

    &__image {
      height: 280px;
    }

    &__chapters {
      gap: 25px;
    }

    &__q-chapter {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(50px, auto) 1fr;
      grid-template-rows: auto auto;
      justify-items: start;
      gap: 5px 15px;

      .q-chapter__title {
        margin: 0 0 3px 0;
        align-self: end;
      }

      .q-chapter__text {
        grid-column: span 2;
      }
    }
  }

}

@media (max-width: 501px) {

  .page-wrapper {
    width: 414px;
  }

  .custom-range {

    &__line {
      padding: 0 13px;
    }

    .noUi-connects {
      margin: 0 0 0 -13px;
    }
    
    .noUi-handle {
      width: 30px;
      height: 30px;
      top: -12px;
      right: -15px;
    }
  }

  .calculator {
    padding: 27px 19px 36px 19px;
    gap: 28px;

    &__subtitle {
      margin: 0 0 15px 0;
    }

    &__body {
      gap: 18px;
    }

    &__section {

      &:not(:last-child) {
        padding: 0 0 14px 0;
      }
    }

    &__results {
      margin: 0 -19px 0 -19px;
      padding: 17px 19px;
      gap: 18px 75px;
    }

    &__selectors {
      gap: 9px 46px;
    }

    &__tel {
      flex-direction: column;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &::before {
      background: var.$gradient-white -70px 0 / 220% 100% no-repeat, url(../images/backgrounds/interior.jpg) top right / 300% 687px no-repeat;
    }

    &__heading {
      margin: 0 0 18px 0;
      gap: 22px;
    }

    &__title {
      font-size: 34px;
      line-height: 40px;
      max-width: 302px;
    }

    &__options {
      gap: 33px 16px;
      margin: 0;
    }
  }

  .popup {
    width: 350px;
    gap: 12px;
    padding: 0 0 19px 0;

    &__close-btn {
      left: 50%;
      transform: translateX(-50%);
      top: -40px;
      font-size: 46px;
    }

    &__title {
      font-size: 30px;
      line-height: 33px;
    }

    &__header {
      padding: 0px 10px;
    }

    &__body {
      padding: 0px 10px;
      gap: 15px 11px;
    }
  }

  .main {
    padding: 61px 0;
  }

  .section {
    gap: 43px;

    &__title {
      font-size: 36px;
      line-height: 40px;
    }

    &__subtitle {
      font-size: 17px;
    }
  }

  .section--works {
    padding: 30px 0 33px 0;

    .section__title {
      font-size: 35px;
    }
  }

  .demo-info {
    padding: 22px 19px 23px 19px;
  }

  .demonstrator {

    &__thumbs {
      width: 384px;
    }

    &__screen {
      height: 229px;
    }
  }

  .tabs {
    gap: 26px;

    &__button {
      width: 100%;
    }
  }

  .promotion {

    &__info {

      &::before {
        height: 200%;
      }
    }

    &__title {
      font-size: 32px;
      line-height: 38px;
    }
  }

  .promotions {
    width: 354px;

    &__promotion {
      height: 400px;
    }
  }

  .explanator {

    &__option {

      .option__icon {
        width: 46px;
        height: 46px;
      }

      &:nth-child(1), &:nth-child(2) {

        &::after {
          top: 32px;
          height: 450px;
        }
      }

    }
  }

  .adv-line {
    padding: 20px 25px;
    gap: 20px;

    &__option {
      gap: 10.5px;
      width: 100%;
    }
  }

  .quality {

    &__image {
      height: 260px;
    }
  }

}

@media (max-width: 413px) {

  .page-wrapper {
    width: 320px;
    padding: 0 10px;
  }

  .header {
    padding: 61px 0 0 0;
  }

  .mob-nav {
    padding: 10px;
  }

  .mob-menu {
    top: 61px;
    height: calc(100% - 61px);
  }

  .text-bg {
    font-size: 45px;
    line-height: 45px;
  }

  .calculator {
    padding: 22px 15px;

    &__custom-range {

      .custom-range__line {
        width: 81%;
      }
    }

    &__results {
      margin: 0 -15px 0 -15px;
      padding: 17px 14px;
      gap: 15px 9px;
    }
  }

  .option {

    &__icon {
      width: 55px;
      height: 55px;
    }

    &__text {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .intro {

    &::before {
      background: var.$gradient-white top left / 160% 100%, url(../images/backgrounds/interior.jpg) top right / 400% 687px no-repeat;
    }

    &__title {
      font-size: 32px;
    }

    &__options {
      gap: 30px 20px;
    }

    &__option {
      width: 140px;
    }
  }

  .agreement {

    &__text {
      font-size: 12px;
    }
  }

  .popup {
    width: 300px;

    &__title {
      font-size: 26px;
      line-height: 29px;
    }

    &__subtitle {
      display: none;
    }

    &__image {
      height: 130px;
    }

    &__header {
      margin: 0px;
    }

    &__input-area {
      grid-column: span 2;
    }
  }

  .popup--result {

    .popup__image {
      height: 160px;
    }

    .popup__subtitle {
      display: block;
    }
  }

  .main {
    padding: 55px 0;
  }

  .section {
    gap: 35px;

    &__title {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .offer {

    &__header {
      padding: 14px 15px;
    }

    &__description {
      padding: 20px 15px 20px 15px;
      min-height: 135px;
    }

    &__body {
      height: 180px;
      padding: 16px 15px 15px 15px;
    }

    &__footer {
      padding: 5px 10px 25px 10px;
    }
  }

  .demonstrator {

    &__thumbs {
      width: 300px;
    }

    &__screen {
      height: 250px;
    }
  }

  .tabs {

    &__trigger {
      width: 145px;
    }
  }

  .scroll-top {
    right: 10px;
    bottom: 70px;
  }

  .promotions {
    width: 300px;
  }

  .adv-line {
    padding: 20px 18px;
  }

  .showroom {
    grid-template-rows: auto 240px 240px;
  }

  .quality {

    &__image {
      height: 210px;
    }
  }

}