@use './normalize.scss' as *;
@use './fonts.scss' as *;
@use './variables.scss' as var;
@use './templates.scss' as *;
@use './mixins.scss' as mix;
@use './common.scss' as *;

.header {
  @include mix.flex-col(32px);
  padding: 5px 0px 0px 0px;

  &__intro {
    @extend %d-flex;
    @extend %jus-cen;
    @extend %rel;
    @extend %px-cen;
    width: 100vw;
    padding: 12px 0 13px 0;
    background: url(../images/backgrounds/overlay.png) -1px 0 / 85% 100% no-repeat, url(../images/backgrounds/background1.jpg) 0 0 / cover no-repeat;
  }

  &__intro-inner {
    @include mix.flex(wrap, 50px);
    @extend %jus-bet;
    width: 1200px;
  }

  &__info {
    @include mix.flex-col(82px);
    max-width: 560px;
    margin: 19px 0 0 0;
  }

  &__info-text {
    @include mix.flex-col(14px)
  }

  &__title, &__subtitle {
    color: var.$black;
  }

  &__title {
    text-transform: uppercase;
  }

  &__subtitle {
    word-spacing: -5px;
  }

  &__calculator {
    margin: 0 1px 0 0;
  }
}

.prices {

  .section__content {
    @extend %rel;
    @extend %px-cen;
    width: 100vw;
  }

  .swiper {
    padding: 10px 0px 10px 0px;
    margin: -10px 0 -10px -20px;

    &-slide {
      width: fit-content;
    }
  }

  .price-card {
    cursor: grab;
  }
}

.examples {
  @extend %rel;
  @extend %px-cen;
  @extend %ali-cen;
  width: 100vw;
  background: var.$white4;
}

.promotions {

  .section__content {
    @include mix.flex-col(24px);
    @extend %ali-cen;
  }

  &__items {
    @include mix.flex(wrap, 19px);
    @extend %over;
    padding: 0px 7px 7px 0px;
    margin: 0px -7px -7px 0px;
    transition: all 0.3s;

    .swiper-pagination1 {
      width: fit-content;
      display: flex;
      gap: 15px;
      margin: 0 0 2px 0;
    }

    .swiper-pagination-bullet {
      will-change: transform;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px !important;
      opacity: 1;
      width: 18px;
      height: 18px;
      border: 2px solid var.$white3;
      background: var.$white2;
      transition: all 0.2s;

      &::after {
        content: '';
        will-change: transform;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var.$blue2;
        transition: all 0.2s;
        transform: scale(0);
      }

      &-active {
        border-color: var.$blue2;
      }

      &-active::after {
        transform: scale(1);
      }
    }

    &.open .promotion--hidden {
      transition: opacity 0.3s, box-shadow 0.3s;
      @extend %vis1;
      @extend %opa1;
    }
  }

  &__button {
    padding: 13.5px 15px 11px 15px;
    width: 205px;
  }
}

.explain {
  gap: 55px;

  .section__subtitle {
    max-width: 773px;
  }

}

.exhibition {
  @extend %rel;
  @extend %px-cen;
  @extend %ali-cen;
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  background: var.$white4;


  .section__content {
    @include mix.flex-col(16px);
    width: 1200px;
  }

  &__properties {
    @include mix.flex(wrap, 20px 60px);
    @extend %jus-cen;
    padding: 20px;
    border-radius: 8px;
    background: var.$white;
    box-shadow: 0 0 8px var.$silver3;
  }

  &__property {
    @include mix.flex-col(10px);
    @extend %ali-cen;
    width: 170px;
  }

  &__property-icon {
    width: 70px;
    height: 70px;
  }

  &__property-name {
    font-weight: 500;
    text-align: center;
  }

  &__gallery {
    @include mix.flex(wrap, 16px);
    @extend %jus-cen;
  }

  &__image-wrapper {
    @extend %d-flex;
    border-radius: 8px;
    width: 591px;
    height: 392px;
  }

  &__image {
    @extend %will;
    @extend %wh-100;
    transition: all 0.2s;

    &.loaded {
      @extend %fit;
    }
  }
}

.quality {
  @extend %rel;
  @extend %px-cen;
  width: 100vw;

  &__info {
    @include mix.flex(nowrap, 30px);
  }

  &__image {
    @extend %h-100;
    width: 597px;
    border-radius: 0 8px 8px 0;

    &.loaded {
      @extend %fit;
    }
  }

  &__methods {
    @include mix.flex(wrap, 25px 50px);
    align-items: flex-start;
    max-width: 800px;
    align-self: center;
  }
}







// MEDIA QUERIES

@media (min-width: 1499px) {

  .prices {

    .swiper {
      margin: -10px 0 -10px -12px;
    }
  }

  .quality {

    .section__content {
      display: flex;
      justify-content: center;
    }

    &__image {
      border-radius: 8px;
    }

  }
}

@media (max-width: 1231px) {

  .header {

    .header__intro-inner {
      width: 994px;
    }
  
    .header__info {
      max-width: 450px;
    }
  }

  .exhibition {

    .section__content {
      width: 970px;
    }

    &__properties {
      gap: 15px 20px;
    }

    &__image-wrapper {
      width: 477px;
      height: 340px;
    }
  }

  .quality {

    &__image {
      width: 400px;
    }
  }

}

@media (max-width: 1024px) {

  .header {

    .header__intro-inner {
      width: 738px;
      gap: 0px;
    }

    .header__title {
      font-size: 52px;
      line-height: 61px;
    }

    .header__subtitle {
      font-size: 40px;
    }

    .header__info {
      max-width: 360px;
    }

  }

  .promotions__items {
    gap: 15px;
  }

  .exhibition {

    .section__content {
      width: 730px;
    }

    &__properties {
      gap: 15px 30px;
      justify-content: flex-start;
    }

    &__property {
      flex-direction: row;
      width: 210px;
    }

    &__property-icon {
      width: 46px;
      height: 46px;
    }

    &__property-name {
      font-size: 16px;
      text-align: left;
    }

    &__image-wrapper {
      width: 357px;
      height: 280px;
    }
  }

  .quality {
    position: static;
    transform: none;
    width: 100%;

    &__info {
      flex-direction: column;
    }

    &__image {
      width: 100%;
      height: 330px;
      border-radius: 8px;
    }

    &__methods {
      order: -1;
    }

  }
}

@media (max-width: 768px) {

  .header {
    padding: 0px;
    gap: 14px;  

    .header__intro {
      padding: 30px 0;
      background: url(../images/backgrounds/overlay.png) -1px 0 / 85% 100% no-repeat, url(../images/backgrounds/background1.jpg) 100% 0 / 162% 687px no-repeat;
    }

    .header__intro-inner {
      width: 640px;
      flex-direction: column;
      gap: 40px;
    }

    .header__info {
      max-width: 480px;
      margin: 0;
      gap: 31px;
    }

    .header__info-text {
      gap: 10px;
    }

    .header__subtitle {
      font-size: 30px;
      word-spacing: -2px;
    }
  }

  .prices {

    .section__content {
      padding: 0 0 0 16px;
    }

    .price-card {

      &__bottom {
        min-height: 142px;
      }
    }
  }

  .promotions {

    &__items {
      width: 100%;
      padding: 0px;
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }

  }

  .exhibition {

    .section__title {
      max-width: 640px;
    }

  }

  .quality {

    &__methods {
      gap: 25px 35px;
    }
  }

}

@media (max-width: 750px) {

  .exhibition {

    .section__content {
      width: 650px;
    }

    &__properties {
      justify-content: center;
    }

    &__property {
      width: 170px;
    }

    &__image-wrapper {
      width: 317px;
      height: 260px;
    }
  }

}

@media (max-width: 671px) {

  .header {
    padding: 91px 0px 0px 0px;
    gap: 25px;

    .header__intro-inner {
      width: 500px;
    }
  }

  .exhibition {

    .section__content {
      width: 470px;
    }

    &__image-wrapper {
      width: 100%;
      height: 300px;
    }
  }

  .quality {

    &__image {
      height: 300px;
    }

  }
}  

@media (max-width: 501px) {

  .header {
    padding: 77px 0px 0px 0px;

    .header__intro {
      padding: 46px 0;
      background: url(../images/backgrounds/overlay.png) -1px 0 / 120% 100% no-repeat, url(../images/backgrounds/background1.jpg) 100% 0 / 300% 687px no-repeat;
    }

    .header__intro-inner {
      width: 384px;
      gap: 32px;
    }

    .header__info {
      gap: 46px;
    }

    .header__info-text {
      gap: 19px;
    }

    .header__title {
      font-size: 34px;
      line-height: 40px;
      max-width: 320px;
    }
  }

  .prices {
    padding: 9px 0 41px 0;
  }

  .exhibition {

    .section__content {
      width: 360px;
    }

    &__properties {
      gap: 20px;
      justify-content: flex-start;
    }

    &__property {
      flex-direction: row;
      width: 100%;
    }

    &__image-wrapper {
      height: 270px;
    }

  }

  .quality {

    &__image {
      height: 260px;
    }

  }

}

@media (max-width: 385px) {

  .header {

    .header__intro {
      background: url(../images/backgrounds/overlay.png) -1px 0 / 120% 100% no-repeat, url(../images/backgrounds/background1.jpg) 100% 0 / 400% 900px no-repeat;
    }

    .header__intro-inner {
      width: 290px;
    }

    .header__title {
      font-size: 32px;
    }
  }

  .prices {

    .section__title {
      font-size: 31px;
    }

    .price-card {
      width: 240px;

      &__title {
        max-width: 140px;
      }

      &__name {
        font-size: 16px;
      }

      &__top {
        padding: 14px 15px;
        gap: 10px 11px;
      }

      &__bottom {
        padding: 24px 15px 22px 15px;
        min-height: 158px;
      }

      &__body {
        padding: 15px;
      }
    }
  }

  .exhibition {

    .section__content {
      width: 280px;
    }

    &__image-wrapper {
      height: 250px;
    }

  }

  .quality {

    &__image {
      height: 200px;
    }

  }
  
}