@use './normalize.scss' as *;
@use './fonts.scss' as *;
@use './variables.scss' as var;
@use './templates.scss' as *;
@use './mixins.scss' as mix;
@use './common.scss' as *;

.header {
  @include mix.flex-col(32px);
  padding: 5px 0px;

  &__intro {
    @extend %d-flex;
    @extend %jus-cen;
    @extend %rel;
    @extend %px-cen;
    width: 100vw;
    padding: 12px 0;
    background: url(../images/backgrounds/overlay.png) -1px 0 / 85% 100% no-repeat, url(../images/backgrounds/background1.jpg) 0 0 / cover no-repeat;
  }

  &__intro-inner {
    @include mix.flex(wrap, 50px);
    @extend %jus-bet;
    width: 1200px;
  }

  &__info {
    @include mix.flex-col(82px);
    max-width: 560px;
    margin: 19px 0 0 0;
  }

  &__info-text {
    @include mix.flex-col(14px)
  }

  &__title, &__subtitle {
    color: var.$black;
  }

  &__subtitle {
    word-spacing: -5px;
  }

  &__calculator {
    margin: 0 1px 0 0;
  }
}

// MEDIA QUERIES

@media (max-width: 1231px) {

  .page-wrapper {
    width: 1024px;
  }

  .header {

    .navbar__top {
      gap: 15px 14px;
    }
  
    .company-logo {
      width: 100px;
    }
  
    .nav-links {
      gap: 7px 10px;
    }
  
    .tel-block {
      gap: 11px;
  
      &__button-outline {
        width: 160px;
      }
    }
  
    .navbar__bottom {
      gap: 0 20px;
    }
  
    .navbar__lang-btn {
      margin-right: 0;
    }
  
    .drop-list {

      &__button {
        width: 160px;
        padding: 15px;
      }
  
      &__content {
        padding: 20px 8px;
        gap: 5px;
      }
  
      &__link {
        padding: 13px 8px 11px 8px;
      }
    }
  
    // .drop-list__content.ass {
    //   display: flex;
    // }
  
    .header__intro-inner {
      width: 994px;
    }
  
    .header__info {
      max-width: 450px;
    }

  }

}

@media (max-width: 1024px) {

  .page-wrapper {
    width: 768px;
  }

  .header {

    .navbar__top {
      flex-direction: column;
      gap: 12px 14px;
    }

    .company-logo {
      width: 124px;
    }

    .nav-links {
      order: 1;
    }

    .navbar__tel-block {
      order: 0;
      margin: 0;
    }

    .navbar__nav-links {
      margin: 0;
    }

    .drop-list {

      &__button {
        width: 120px;
      }

      &__content {
        width: 130%;
        padding: 15px 5px;
      }

      &__link {
        padding: 8px 5px;
      }
  
      // &__content.ass {
      //   display: flex;
      // }

    }

    .header__intro-inner {
      width: 738px;
      gap: 0px;
    }

    .header__title {
      font-size: 52px;
      line-height: 61px;
    }

    .header__subtitle {
      font-size: 40px;
    }

    .header__info {
      max-width: 360px;
    }

    .marked-text {
      font-size: 50px;
    }

    .benefits {
      gap: 20px 20px;
    }

    .benefit {
      width: 170px;
    }

    .calculator {
      width: 350px;
      padding: 25px 0px;
      gap: 20px;

      &__title {
        padding: 0px 20px;
      }

      &__body {
        padding: 0px 20px;
      }

      &__section-content {
        gap: 9px 20px;
      }

      &__section-column {
        width: 46.5%;
      }

      &__section-row {
        gap: 9px 18px;
      }

      &__footer {
        padding: 0px 20px;
      }

      &__summary {
        gap: 15px 10px;
        padding: 17px 20px;
        margin: 0 -20px;
      }

      &__summary-item {
        width: 140px;
      }

      &__phone-input {
        width: 160px;
      }
    }

  }
}

@media (max-width: 768px) {

  .page-wrapper {
    width: 670px;
  }

  .header {
    padding: 0px;
    gap: 14px;

    .navbar {
      display: none;
    }

    .navbar--tablet {
      display: block;

      .navbar__company-logo {
        position: static;
      }
  
      .navbar__top {
        padding: 9px 0px 10px 0px;
        flex-direction: row;
        gap: 12px 28px;
      }
  
      .tel-block {
        gap: 21px;
      }
  
      .tel-block__link {
        font-size: 15px;
        line-height: 18px;
      }
  
      .tel-block__nav-socials {
        margin: 5px 0 0 0;
        max-width: 112px;
      }
  
      .tel-block__info {
        font-size: 12px;
        line-height: 14px;
      }
  
      .tel-block__button-outline {
        width: 165px;
        margin: 0 0 0 6px;
      }
  
      .navbar__middle {
        justify-content: center;
        padding: 17px 0px 16px 0px;
      }
  
      .nav-links {
        order: 0;
        gap: 7px 41px;
        max-width: 601px;
      }

      .navbar__bottom {
        gap: 0px 20px;
      }

      .navbar__drop-list {
        margin: 0 0 0 2px;
        max-width: 525px;
      }

      .drop-list__button {
        width: 105px;
        padding: 10px 15px;
        gap: 4px;
      }

      .drop-list__button-text {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
      }

      // .drop-list__content.ass {
      //   display: flex;
      // }

      .drop-list__link {
        font-size: 14px;
        line-height: 17px;
      }

      .navbar__lang-btn {
        width: 88px;
        overflow: hidden;
        margin: 0;
      }

      .lang-btn__variant {
        font-size: 20px;
        line-height: 23px;
        padding: 7px 9px;

        &::after {
          content: '';
          height: 21px;
          right: -0.5px; 
        }
      }
    }

    .header__intro {
      padding: 30px 0;
      background: url(../images/backgrounds/overlay.png) -1px 0 / 85% 100% no-repeat, url(../images/backgrounds/background1.jpg) 100% 0 / 162% 687px no-repeat;
    }

    .header__intro-inner {
      width: 640px;
      flex-direction: column;
      gap: 40px;
    }

    .header__info {
      max-width: 480px;
      margin: 0;
      gap: 31px;
    }

    .header__info-text {
      gap: 10px;
    }

    .header__subtitle {
      font-size: 30px;
      word-spacing: -2px;
    }

    .marked-text {
      font-size: 52px;
      padding: 0px 5px;
    }

    .navbar__benefits {
      margin: 0 0 0 2px;
      gap: 26px 13px;
    }

    .benefit {
      width: 185px;
      gap: 16px;
    }

    .header__calculator {
      width: 640px;
      margin: 0 0 0 -1px;
      box-shadow: 0 0 6px var.$black2;
      padding: 37px 0px 39.5px 0px;
      gap: 37px;
    }

    .calculator__title {
      font-size: 22px;
      line-height: 26px;
      padding: 0px 22px;
    }

    .calculator__body {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0px 23px;
      gap: 15px 63px;
    }

    .calculator__section {
      padding: 0px 0px 23px 0px;

      &-content {
        gap: 9px 17px;
      }

      &-row {
        gap: 10px 24px;
      }

      &-column {
        width: 145px;
      }

      &:nth-child(2) {
        order: 1;
        padding: 0px;
        
        &::after {
          display: none;
        }
      }

      &:nth-child(3) {
        width: 219px;
        order: 0;
      }

      &:nth-child(4) {
        width: 219px;
        order: 2;
        padding: 0px;
      }
    }

    .calculator__footer {
      margin: 14px 0 0 0;
      gap: 25px;
      padding: 0px 27px;
    }

    .calculator__summary {
      padding: 18px 24px 16px 24px;
      gap: 15px 230px;
      margin: 0px -27px;
    }

    .calculator__section--phone {

      .calculator__section-phone {
        gap: 14px 27px;
      }

      .calculator__section-title {
        margin: 0 0 15px 0;
      }

      .calculator__phone-input {
        width: 309px;
      }

      .calculator__button {
        width: 248px;
        padding: 15px 27px;
      }
    }
  }
}

@media (max-width: 670px) {}                                  