@use './modules/_variables.scss' as var;
@use './modules/_templates.scss' as *;
@use './modules/_mixins.scss' as mix;


.mob-nav__call, .logotype, .mob-socials__link {
  will-change: transform;
  transition: all 0.05s;

  &:active {
    transform: scale(0.9);
  }
}

.tel-block__link, .nav-links__link {

  &:active {
    color: var.$green;
    text-decoration: underline;
  }
}

.dropdown__trigger {
  transition: all 0.2s;

  &-icon {
    transition: all 0.2s;
  }
}

.dropdown__link {

  &:active {
    background: var.$blue;
    color: var.$white;
  }
}

.lang-selector__trigger {

  &:active {
  
    &:not(.active) {
      background: var.$green;
      color: var.$white;
    }

  }
}

.radio-var__effect, .radio-var__text {
  transition: all 0.2s;
}

#squareRange .noUi-handle {
  will-change: transform;
  transition: all 0.15s;

  &.noUi-active {
    transform: scale(0.85);
    background: var.$green;
  }
}

.input-area__input {
  transition: all 0.2s;

  &:focus {
    border-color: var.$light-blue;
  }
}

.outline-btn {
  will-change: transform;
  transition: all 0.1s;

  &:active {
    transform: scale(0.9);
    background: var.$green;
    color: var.$white;
  }
}

.agreement__link {

  &:active {
    color: var.$green;
    text-decoration: underline;
  }
}

.popup__outline-btn--reset {

  &:active {
    background: var.$red;
  }
}

.popup__close-btn {

  &:active {
    color: var.$red;
  }
}

.button {
  will-change: transform;
  transition: all 0.1s;

  &:active {
    transform: scale(0.92);
  }
}

.offer__trigger {

  &:active {
    text-decoration: underline;
  }
}

.tabs__trigger {
  will-change: transform;
  transition: all 0.15s;

  &:active {
    background: var.$blue;
    color: var.$white;
    transform: scale(0.9);
  }
}

.demonstrator .swiper-slide {
  will-change: transform;
  transition: all 0.15s;

  &:active {
    transform: scale(0.9);
  }
}

.scroll-top {

  &:active {
    transition: all 0.05s;
    background: var.$blue;
    box-shadow: 0 0 5px var.$blue;
    transform: scale(0.9) !important;
  }
}

.zoom-fs__close-btn {

  &:active {
    transform: scale(0.8);
    color: var.$red
  }
}

.review__location {

  &:active {
    color: var.$light-blue;
    text-decoration: underline;
  }
}

.team-slider__button {

  &:active {
    transform: scale(0.86) !important;
  }
}

.slider-control {
  will-change: transform;
  transition: all 0.25s;

  &__icon {
    transition: all 0.25s;
  }

  &:active {
    transform: scale(0.85);
    background: var.$green;

    .slider-control__icon {
      stroke: var.$white;
    }
  }
}

.brand {
  will-change: transform;
  transition: all 0.1s;

  &:active {
    transform: scale(0.85);
  }
}

.qa-block__header, .qa-block__title, .qa-block__icon {
  transition: all 0.2s;
}